<div class="off-canvas-wrap">
  <div class="inner-wrap">
    <nav class="tab-bar header">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
      </section>

      <section class="right tab-bar-section">
        <h1 class="title">{{ school.name }}</h1>
      </section>
    </nav>

    <div ng-include src="'templates/sidebar.html'"></div>
    
	<!--CONTENIDO-->
    <section class="main-section">
			<div class="row menu-header">
				<div class="small-offset-5 small-7 medium-7 large-7 columns">
					<h3>Glosary</h3>
				</div>					
			</div> 	 
			
<div class="row">
	<div ng-controller="AccordionDemoCtrl">

	  	<accordion close-others="oneAtATime">

		    <accordion-group  is-open="true">
        <accordion-heading>
            <div id="grilla_10_01_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">District</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_01" ></div>
        </accordion-heading>   
			    	<div class="glossary">
			    		<p>The geographic district in which the school is located.  Note that all charter schools are assigned to District 84 regardless of geographic location. </p>
			    	</div>
			</accordion-group>

		    <accordion-group  is-open="true">
        <accordion-heading>
            <div id="grilla_10_02_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Total Enrollment</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_02" ></div>
        </accordion-heading>  

			    	<div class="glossary">
			    		<p>The total number of students who are enrolled in the school as of October 31 of the selected school year. </p>
			    	</div>
			</accordion-group>

		    <accordion-group  is-open="true"> 
        <accordion-heading>
            <div id="grilla_10_03_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Shared Site</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_03" ></div>
        </accordion-heading>		     
			    	<div class="glossary">
			    		<p>Whether the school is co-located with at least one other school in a shared building.</p>
			    	</div>
			</accordion-group>

		    <accordion-group  is-open="true">  
        <accordion-heading>
            <div id="grilla_10_04_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Year Opened</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_04" ></div>
        </accordion-heading>		    
			    	<div class="glossary">
			    		<p>The first school year that the school was open.</p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="true"> 
        <accordion-heading>
            <div id="grilla_10_05_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Enrollment</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_05" ></div>
        </accordion-heading>	 
			    	<div class="glossary">
			    		<p>The total number of students who are enrolled in each grade of the school as of October 31 of the current school year.</p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="true">  
        <accordion-heading>
            <div id="grilla_10_06_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Program</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_06" ></div>
        </accordion-heading>			    
			    	<div class="glossary">
			    		<p>When applying to middle and high schools, students apply to programs within schools. Programs may have different interest or focus areas as well as admissions methods.</p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="true">  
        <accordion-heading>
            <div id="grilla_10_07_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Interest Area</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_07" ></div>
        </accordion-heading>		    
			    	<div class="glossary">
			    		<p>A program’s interest area may indicate a general, comprehensive academic program (Humanities & Interdisciplinary or Zoned, for example), while other interest areas emphasize a particular industry (like Architecture or Engineering). Although every high school program is associated with a particular interest area, all New York City students are required to take a variety of courses in order to graduate.</p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="true">  
        <accordion-heading>
            <div id="grilla_10_08_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Program Focus</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_08" ></div>
        </accordion-heading>		    
			    	<div class="glossary">
			    		<p>A program’s focus area may indicate a general, comprehensive academic program (Humanities & Interdisciplinary or Zoned, for example), while other interest areas emphasize a particular industry (like Architecture or Engineering). </p>
			    	</div>
			</accordion-group>						

		    <accordion-group is-open="true">  
        <accordion-heading>
            <div id="grilla_10_09_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Priority</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_09" ></div>
        </accordion-heading>			    
			    	<div class="glossary">
			    		<p>The order in which applicants are considered for placement.</p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="true">  
        <accordion-heading>
            <div id="grilla_10_10_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Method</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_10" ></div>
        </accordion-heading>			    
			    	<div class="glossary">
			    		<p>The way schools consider and admit applicants into a program.</p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="true">  
        <accordion-heading>
            <div id="grilla_10_11_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Seats</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_11" ></div>
        </accordion-heading>			    
			    	<div class="glossary">
			    		<p>Number of seats in a program that were available to students applying for September of the selected year.</p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="true">  
        <accordion-heading>
            <div id="grilla_10_12_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Applicants</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_12" ></div>
        </accordion-heading>			    
			    	<div class="glossary">
			    		<p>Total number of students who applied for admission to a program in the September of the selected year.</p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="true">  
        <accordion-heading>
            <div id="grilla_10_13_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Survey</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_13" ></div>
        </accordion-heading>			    
			    	<div class="glossary">
			    		<p>The NYC School Survey is administered annually to all parents, all teachers, and students in grades 6 - 12.  Survey results provide insight into a school's learning environment and assess the community's opinions on academic expectations, communication, engagement, and safety and respect.</p>
			    	</div>
			</accordion-group>

		    <accordion-group  is-open="true"> 
        <accordion-heading>
            <div id="grilla_10_14_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Strongly Agree/Agree</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_14" ></div>
        </accordion-heading>			     
			    	<div class="glossary">
			    		<p>Strongly Agree/Agree: Percentage of respondents who agree or strongly agree with this School Survey question.</p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="true"> 
        <accordion-heading>
            <div id="grilla_10_15_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Strongly Disagree/Disagree</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_15" ></div>
        </accordion-heading>		     
			    	<div class="glossary">
			    		<p>Strongly Disagree/Disagree:  Percentage of respondents who disagree or strongly disagree with this School Survey question.</p>
			    	</div>
			</accordion-group>

		    <accordion-group  is-open="true">  
        <accordion-heading>
            <div id="grilla_10_16_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Response Rates</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_16" ></div>
        </accordion-heading>		    
			    	<div class="glossary">
			    		<p>Percentage of eligible parents, teachers and students in grades 6-12 who responded to the NYC School Survey.</p>
			    	</div>
			</accordion-group>

		    <accordion-group  is-open="true">  
        <accordion-heading>
            <div id="grilla_10_17_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Academic Expectations</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_17" ></div>
        </accordion-heading>			    
			    	<div class="glossary">
			    		<p>Measures whether respondents feel that the school encourages students to do their best by developing rigorous and meaningful academic goals.</p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="true">  
        <accordion-heading>
            <div id="grilla_10_18_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Communication</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_18" ></div>
        </accordion-heading>		    
			    	<div class="glossary">
			    		<p>Measures whether respondents feel that the school provides them with information about the school’s educational goals and offers appropriate feedback on each student’s learning outcomes. </p>
			    	</div>
			</accordion-group>

		    <accordion-group  is-open="true">  
        <accordion-heading>
            <div id="grilla_10_19_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Engagement</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_19" ></div>
        </accordion-heading>			    
			    	<div class="glossary">
			    		<p>Measures whether respondents feel engaged in an active and vibrant partnership to promote student learning.</p>
			    	</div>
			</accordion-group>

		    <accordion-group  is-open="true">  
        <accordion-heading>
            <div id="grilla_10_20_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Safety and Respect</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_20" ></div>
        </accordion-heading>			    
			    	<div class="glossary">
			    		<p>Measures whether respondents feel that the school creates a physically and emotionally secure environment in which everyone can focus on student learning.</p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="true">
        <accordion-heading>
            <div id="grilla_10_21_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Attendance Rate</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_21" ></div>
        </accordion-heading>		      
			    	<div class="glossary">
			    		<p>Includes the attendance days for all students on a school’s register at any point during the regular school year (September through June). Calculated by adding the total number of days attended by all students and dividing it by the total number of days on register for all students.</p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="true">  
        <accordion-heading>
            <div id="grilla_10_22_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Quality Review</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_22" ></div>
        </accordion-heading>		    
			    	<div class="glossary">
			    		<p>A two- or three-day school visit by an experienced educator to evaluate how well the school is organized to support student achievement. The overall rating is based on three major categories: instruction that prepares students for college and careers, school organization and management, and quality of the learning environment.</p>
			    	</div>
			</accordion-group>


		</accordion>
	</div>
</div>

    </section>
    <!--END.CONTENIDO-->

  <a class="exit-off-canvas"></a>

  </div>
</div>