<div class="off-canvas-wrap">
  <div class="inner-wrap">
    <nav class="tab-bar header">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
      </section>

      <section class="right tab-bar-section">
        <h1 class="title">{{ school.name }}</h1>
      </section>
    </nav>

    <div ng-include src="'templates/sidebar.html'"></div>
    
    <section class="main-section" style="min-height:350px">
    
	<div class="row menu-header">	
		<div class="small-6 small-centered medium-6 large-6 columns">
			<h3 class="text-center">College Career</h3>
		</div>	
		<div class="small-10 small-centered medium-10 large-10 columns">		
			<div class="row">
				<div class="small-6 small-centered medium-6 large-6 columns">


			<div ng-controller="CollegeCarrerDropdownCtrl" class="text-center">
			  <a dropdown-toggle="#dropdown-CollegeCarrer" class="button dropdown small bg-dropdown">{{selectedyearCollegeCarrer}}</a>
			  <ul id="dropdown-CollegeCarrer" class="f-dropdown" style="width:100px">
			    <li ng-repeat="item in itemsddCollegeCarrer">
			      <a ng-click="changeyear(item.indice)">{{item.texto}}</a>
			    </li>
			  </ul>
			  <br>
			</div>

				</div>			
			</div>
		</div>		
	</div>		
	
	<div class="row">

<div ng-controller="AccordionDemoCtrl">

  <accordion close-others="oneAtATime">


    <accordion-group is-open="true">  

        <accordion-heading>
            <div id="grilla_02_01_up" class="grillaAcordion" onclick="rotarGrilla(this.id)">Readiness
            <a class="icon-info-acordion" ng-click="go('/school/' +  school.id + '/glossary')" ng-href="#/school/{{school.id}}/glossary"><img src='img/info.png' width='15'></a></div>
            <div class="icon-arrow-down2 right dos" id="grilla_icon_02_01" ></div>
        </accordion-heading>        

    	<div class="row">

	<div class="small-12 medium-12 large-12 columns barra-blanca bg-tablas-data  {{college_career.postsecondary_enrollment_rate_6months | filtraCeros}}">
    			<div class="democracy color-barra" style="width:{{college_career.postsecondary_enrollment_rate_6months}}%;">
    				<p>{{college_career.postsecondary_enrollment_rate_6months | number:1}}%</p>
    				<itemsurvey>
		<div ng-controller="PopoverDemoCtrl">
    <div Popover-animation="false" popover="Percentage of students who have graduated and enrolled in a two- or four-year college, vocational program, or public service within six months of their scheduled graduation date." popover-placement="left" class="icon-info" style="cursor:pointer"></div>
		</div>		<span  class="con-info">Enrollment Rate</span></itemsurvey>
    			</div>

			<div class="metrics {{city_average.Post_SecondaryEnrollmentRate | filtraCeros}}">
				<div class="average " style="width:{{city_average.Post_SecondaryEnrollmentRate}}%;">
    				<p style="padding-left:25px">City Average:{{city_average.Post_SecondaryEnrollmentRate}}%</p>
				</div>	
					<!--						    			
		    			<div class="rank">
		    				<p>Rank <barra>◼︎◼︎◻︎◻︎</barra> > Avg.</p>
		    			</div>
					-->
    			
			</div>
	</div>

			    		<div class="small-12 medium-12 large-12 columns barra-blanca bg-tablas-data  {{college_career.4year_non_remediation_rate | filtraCeros}}">
			    			<div class="democracy color-barra" style="width:{{college_career.4year_non_remediation_rate}}%;">
			    				<p>{{college_career.4year_non_remediation_rate | number:1}}%</p>
			    				<itemsurvey><span class="con-info">Non-Remediation Rate</span>
		<div ng-controller="PopoverDemoCtrl">
    <div Popover-animation="false" popover="Percentage  of students in the school’s four-year cohort who, by the August after their fourth year in high school, have graduated with a Regents Diploma and have met the City University of New York's (CUNY) standards for college readiness in English and Math." popover-placement="left" class="icon-info" style="cursor:pointer"></div>
    	</div>
			    				</itemsurvey>
			    			</div>
			    			<div class="metrics {{city_average.Four_YearNon_RemediationRate | filtraCeros}}">
								<div class="average" style="width:{{city_average.Four_YearNon_RemediationRate}}%;">
				    				<p style="padding-left:25px">City Average:{{city_average.Four_YearNon_RemediationRate}}%</p>
								</div>			    			
			    	<!--		<div class="rank">
				    				<p>Rank <barra>◼︎◼︎◻︎◻︎</barra> > Avg.</p>
				    			</div>	-->
				    			
			    			</div>
			    		</div>	

			    		<div class="small-12 medium-12 large-12 columns barra-blanca bg-tablas-data  {{college_career.cc_preparatory_course_index | filtraCeros}}">
			    			<div class="democracy color-barra" style="width:{{college_career.cc_preparatory_course_index}}%;">
			    				<p>{{college_career.cc_preparatory_course_index | number:1}}%</p>
			    				<itemsurvey><span class="con-info">Prep Course Index </span>
		<div ng-controller="PopoverDemoCtrl">
    <div Popover-animation="false" popover="The percentage of students in the school’s four-year cohort who have successfully completed approved rigorous courses and assessments after four years of high school." popover-placement="left" class="icon-info" style="cursor:pointer"></div>
    	</div>
			    				</itemsurvey>
			    			</div>
			    			<div class="metrics {{city_average.CollegeandCareerPreparatoryCourseIndex | filtraCeros}}">
								<div class="average" style="width:{{city_average.CollegeandCareerPreparatoryCourseIndex}}%;">
				    				<p style="padding-left:25px">City Average:{{city_average.CollegeandCareerPreparatoryCourseIndex}}%</p>
								</div>			    			
					<!--		<div class="rank">
				    				<p>Rank <barra>◼︎◼︎◻︎◻︎</barra> > Avg.</p>
				    			</div>	-->
				    			
			    			</div>
			    		</div>	


			    		<div class="small-12 medium-12 large-12 columns barra-blanca bg-tablas-data  {{college_career.c_readiness_r_including_p | filtraCeros}}">
			    			<div class="democracy color-barra" style="width:{{college_career.c_readiness_r_including_p}}%;">
			    				<p>{{college_career.c_readiness_r_including_p | number:1}}%</p>
			    				<itemsurvey><span class="con-info">Readiness Rate</span>
		<div ng-controller="PopoverDemoCtrl">
    <div Popover-animation="false" popover="Percentage of students in the six-year cohort who 1) graduated with a Regents diploma and have met City University of New York's (CUNY) standards for English and mathematics, or 2) graduated, enrolled and persisted through 3 consecutive semesters of college within six years of graduating." popover-placement="left" class="icon-info" style="cursor:pointer"></div>
    	</div>
			    				</itemsurvey>
			    			</div>
			    			<div class="metrics {{city_average.CollegeReadinessRateIncludingPersistence | filtraCeros}}">
								<div class="average" style="width:{{city_average.CollegeReadinessRateIncludingPersistence}}%;">
				    				<p style="padding-left:25px">City Average:{{city_average.CollegeReadinessRateIncludingPersistence}}%</p>
								</div>			    			
					<!--		<div class="rank">
				    				<p>Rank <barra>◼︎◼︎◻︎◻︎</barra> > Avg.</p>
				    			</div>	-->
				    			
			    			</div>
			    		</div>

			    	</div>
			    </accordion-group>

			    <accordion-group is-open="true">  

        <accordion-heading>
            <div id="grilla_02_02_up" class="grillaAcordion" onclick="rotarGrilla(this.id)">Graduation</div>
            <div class="icon-arrow-down2 right dos"  id="grilla_icon_02_02" ></div>
        </accordion-heading> 

			    	<div class="row">
			    		<div class="small-12 medium-12 large-12 columns barra-blanca bg-tablas-data  {{college_career.4y_g_r | filtraCeros}}">
			    			<div class="democracy color-barra" style="width:{{college_career.4y_g_r}}%;">
			    				<p>{{college_career.4y_g_r | number:1}}%</p>
			    				<itemsurvey><span class="con-info">4 year Graduation Rate</span>
		<div ng-controller="PopoverDemoCtrl">
    <div Popover-animation="false" popover="Percentage of students who graduated with a Regents or Local Diploma within four years of beginning high school, including August graduates.  Citywide graduation rates are as reported by New York State Department of Education while individual school graduation rates are as reported by NYC DOE." popover-placement="left" class="icon-info" style="cursor:pointer"></div>
    	</div>
			    				</itemsurvey>
			    			</div>
			    			<div class="metrics {{city_average.4YearGraduationRate | filtraCeros}}">
								<div class="average" style="width:{{city_average.4YearGraduationRate}}%;">
				   					<p style="padding-left:25px">City Average: {{city_average.4YearGraduationRate}}%</p>
								</div>			    			
					<!--		<div class="rank">
				    				<p>Rank <barra>◼︎◼︎◻︎◻︎</barra> > Avg.</p>
				    			</div>	-->
				    			
			    			</div>
			    		</div>

			    		<div class="small-12 medium-12 large-12 columns barra-blanca bg-tablas-data  {{college_career.6y_g_r | filtraCeros}}">
			    			<div class="democracy color-barra" style="width:{{college_career.6y_g_r}}%;">
			    				<p>{{college_career.6y_g_r | number:1}}%</p>
			    				<itemsurvey><span class="con-info">6 year Graduation Rate <a ng-href="/profile/glossary"><div class="info-perfil_azul"></div></a></span>
		<div ng-controller="PopoverDemoCtrl">
    <div Popover-animation="false" popover="Percentage of students who graduated with a Regents or Local Diploma within six years of beginning high school, including August graduates. Citywide graduation rates are as reported by New York State Department of Education while individual school graduation rates are as reported by NYC DOE." popover-placement="left" class="icon-info" style="cursor:pointer"></div>
    	</div>
			    				</itemsurvey>
			    			</div>
			    			<div class="metrics {{city_average.6YearGraduationRate | filtraCeros}}">
								<div class="average" style="width:{{city_average.6YearGraduationRate}}%;">
				    				<p style="padding-left:25px">City Average: {{city_average.6YearGraduationRate}}%</p>
								</div>			    			
					<!--		<div class="rank">
				    				<p>Rank <barra>◼︎◼︎◻︎◻︎</barra> > Avg.</p>
				    			</div>	-->
				    			
			    			</div>
			    		</div>		
			    	</div>

			    </accordion-group>



	</accordion>
	</div>
	</div>	<!-- row -->
    </section>
    
  <a class="exit-off-canvas"></a>

  </div>
</div>