<div class="off-canvas-wrap">
  <div class="inner-wrap">
    <nav class="tab-bar header">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
      </section>

      <section class="right tab-bar-section middle-vertical">
        <h1 class="title">{{ school.name }}</h1>
      </section>
    </nav>

	<div ng-include src="'templates/sidebar.html'"></div>

	<!--CONTENIDO-->
    <section class="main-section">
			<div class="row menu-header">
				<div class="small-offset-5 small-6 medium-7 large-7 columns">
					<h3>Profile</h3>
				</div>	
			</div> 	 
			<div class="row profile_item">
				<div class="small-6 columns">
					<div class="profile_label">
						<span>Principal</span>
					</div>
				</div>
				<div class="small-6 columns">
					<div class="profile_info">
						<span style="text-transform:uppercase;">{{ profile.principal_name }}</span>
					</div>
				</div>
			</div>
			<div class="row profile_item">
				<div class="small-6 columns">
					<div class="profile_label">
						<span>District</span>
		    <div style="position:relative;left:7.7rem;top:-15px;cursor:pointer"class="icon-info-acordion" Popover-animation="false"  popover-placement="top" popover="The geographic district in which the school is located. Note that all charter schools are assigned to District 84 regardless of geographic location." ><img style="position:absolute;" src='img/info.png' width='15'  onclick="quitaBurbuja()"></div>
		    <!--
						<a ng-click="go('/school/' +  school.id + '/glossary')" ng-href="#/school/{{school.id}}/glossary"><div class="info-perfil"></div></a>-->
					</div>
				</div>
				<div class="small-6 columns">
					<div class="profile_info">
						<span>{{ profile.district }}</span>
					</div>
				</div>
			</div>
			<div class="row profile_item">
				<div class="small-6 columns">
					<div class="profile_label">
						<span>Grade Served</span>
					</div>
				</div>
				<div class="small-6 columns">
					<div class="profile_info">
						<span>{{ profile.grades_served }}</span>
					</div>
				</div>
			</div>
			<div class="row profile_item">
				<div class="small-6 columns">
					<div class="profile_label">
						<span>Total Enrollment</span>
		    <div style="position:relative;left:7.7rem;top:-15px;cursor:pointer"class="icon-info-acordion" Popover-animation="false"  popover-placement="top" popover="The total number of students who are enrolled in the school as of October 31 of the selected school year." ><img style="position:absolute;" src='img/info.png' width='15'  onclick="quitaBurbuja()"></div>						
			<!--			<a ng-click="go('/school/' +  school.id + '/glossary')" ng-href="#/school/{{school.id}}/glossary"><div class="info-perfil"></div></a>-->
					</div>
				</div>
				<div class="small-6 columns">
					<div class="profile_info">
						<span>{{ profile.total_enrollment }}</span>
					</div>
				</div>
			</div>
			<div class="row profile_item">
				<div class="small-6 columns">
					<div class="profile_label">
						<span>Year Opened</span>
		    <div style="position:relative;left:7.7rem;top:-15px;cursor:pointer"class="icon-info-acordion" Popover-animation="false"  popover-placement="top" popover="The first school year that the school was open." ><img style="position:absolute;" src='img/info.png' width='15'  onclick="quitaBurbuja()"></div>							
			<!--			<a ng-click="go('/school/' +  school.id + '/glossary')" ng-href="#/school/{{school.id}}/glossary"><div class="info-perfil"></div></a>-->
					</div>
				</div>
				<div class="small-6 columns">
					<div class="profile_info">
						<span>{{ profile.year_opened }}</span>
					</div>
				</div>
			</div>
			<div class="row profile_item">
				<div class="small-6 columns">
					<div class="profile_label">
						<span>Shared Site</span>
	
		    <div style="position:relative;left:7.7rem;top:-15px;cursor:pointer"class="icon-info-acordion" Popover-animation="false"  popover-placement="top" popover="Whether the school is co-located with at least one other school in a shared building." ><img style="position:absolute;" src='img/info.png' width='15' onclick="quitaBurbuja()"></div>						
					<!--	<a ng-click="go('/school/' +  school.id + '/glossary')" ng-href="#/school/{{school.id}}/glossary"><div class="info-perfil"></div></a>-->
					</div>
				</div>
				<div class="small-6 columns">
					<div class="profile_info">
						<span>{{ profile.shared_site }}</span>
					</div>
				</div>
			</div>
			<div class="row profile_item">
				<div class="small-6 columns">
					<div class="profile_label">
						<span>Address</span>
					</div>
				</div>
				<div class="small-6 columns">
					<div class="profile_info">
						<span class="sub" style="font-size:0.7rem;"><a  href="http://maps.google.com/?q={{ profile.primary_address }}, {{ profile.city }} {{ profile.zip }}" target="_blank">{{ profile.primary_address }}, {{ profile.city }} {{ profile.zip }}</a></span>
					</div>
				</div>
			</div>
			<div class="row profile_item">
				<div class="small-6 columns">
					<div class="profile_label">
						<span>Phone</span>
					</div>
				</div>
				<div class="small-6 columns">
					<div class="profile_info">
						<span class="sub"><a href="tel:{{ profile.phone_number }}"> {{ profile.phone_number }}</a></span>
					</div>
				</div>
			</div>
			<div class="row profile_item">
				<div class="small-6 columns">
					<div class="profile_label">
						<span>Website</span>
					</div>
				</div>
				<div class="small-6 columns">
					<div class="profile_info">
						<span class="sub"><a style="font-size:0.8rem" href="{{ profile.website }} " target="_blank">{{ profile.website }}</a></span>
					</div>
				</div>
			</div>
    </section>
    <!--END.CONTENIDO-->

  <a class="exit-off-canvas"></a>

  </div>
</div>