<section class="disclaimer">
	<div class="row">
		<div class="small-10 small-centered text-center columns">
			<h1>{{'Disclaimer' | translateMain}}</h1>
			<p> {{'This application and website are not products of the NYC Department of Education, and are not endorsed by the NYCDOE. NYCDOE is not responsible for the accuracy of the content of the application or site. Use of this application and website is not a requirement of NYCDOE admissions' | translateMain}}</p>
		</div>

		<a onclick="window.history.back()" class="btn_back"><p class="text-left"> &lt; Back</p></a>
	</div>
</section>