<div class="off-canvas-wrap">
  <div class="inner-wrap">
    <nav class="tab-bar header">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
      </section>

      <section class="right tab-bar-section middle-vertical">
        <h1 class="title">{{ school.name }}</h1>
      </section>
    </nav>

    <div ng-include src="'templates/sidebar.html'"></div>
    
	<!--CONTENIDO-->
    <section class="main-section">
    
	<div class="row menu-header">	
		<div class="small-6 small-centered medium-6 large-6 columns">
			<h3 class="text-center">Survey</h3>
		</div>	
		<div class="small-10 small-centered medium-10 large-10 columns">		
			<div class="row">

				<div class="small-6  medium-6 large-6 columns ">
					<div ng-controller="SurveyRespCtrl" class="text-center">
					  <a dropdown-toggle="#dropdown-grade_sr" class="button dropdown small bg-dropdown">{{selectedgrade}}</a>
					  <ul id="dropdown-grade_sr" class="f-dropdown" style="width:100px">
					    <li ng-repeat="itemg in itemsGrades">
					      <a ng-click="changegrade(itemg.indice)">{{itemg.texto}}</a>
					    </li>
					  </ul>
					  <br>
					</div>
				</div>	

                <div class="small-6  medium-6 large-6 columns">
                    <div ng-controller="SurveyYearCtrl" class="text-center">
                      <a dropdown-toggle="#dropdown-year_sr" class="button dropdown small bg-dropdown">{{selectedyear}}</a>
                      <ul id="dropdown-year_sr" class="f-dropdown" style="width:100px">
                        <li ng-repeat="itemy in itemsYears">
                          <a ng-click="changeyear(itemy.indice)">{{itemy.texto}}</a>
                        </li>
                      </ul>
                      <br>
                    </div>
                </div>

			</div>
		</div>		
	</div>		

	<div class="row">


<div ng-controller="AccordionDemoCtrl">

<!--
  <label class="checkbox">
    <input type="checkbox" ng-model="oneAtATime">
    Open only one at a time
  </label>
-->  

  <accordion close-others="oneAtATime">

<div class="">

    
    <accordion-group is-open="true">

        <accordion-heading>
            <div id="grilla_06_01_up" class="grillaAcordion" onclick="rotarGrilla(this.id)">Safety and Respect
            <a class="icon-info-acordion" ng-click="go('/school/' +  school.id + '/glossary')" ng-href="#/school/{{school.id}}/glossary"><img src='img/info.png' width='15'></a></div>
            <div class="icon-arrow-down2 right seis" id="grilla_icon_06_01" ></div>
        </accordion-heading>      

		<!-- Safety and Respect -->
		<div class="row">

			<!-- Parents -->
			<div class ="{{ 'parents' | filtraSurvey }}">

			<div class="small-12 medium-12 large-12 columns barra-blanca bg-tablas-data  {{survey_results.p_safety_respect_rs | filtraCeros}}">
    			<div class="porcentaje" style="width:{{survey_results.p_safety_respect_rs}}%;">
    				<p>{{survey_results.p_safety_respect_rs | number:1}}%</p>

                    <itemsurvey><button type="button" class="button button-white  [tiny small large]" ng-model="singleModel" ng-click="go('/school/' +  school.id + '/surveyDetail')" ng-href="#/school/{{school.id}}/surveyDetail">Detail</button></itemsurvey>

    				<!--<itemsurvey><span>Parents</span></itemsurvey>-->
    			</div>

                <div class="metrics {{city_average.SchoolSurveyParents_Safety_RespectRawScore | filtraCeros}}">
                    <div class="average" style="width:{{city_average.SchoolSurveyParents_Safety_RespectRawScore}}%;">
                        <p style="padding-left:25px">City Average: {{city_average.SchoolSurveyParents_Safety_RespectRawScore}}%</p>
                    </div>                          
                    <div class="rank">
                    <p><img ng-src="img/{{ proficiency_ratings.p_safety_respect_rs_pr | filtraRank }}.png" ></p>
                    </div>
                    
                </div>
    		</div>
			</div>


			<div class ="{{ 'teachers' | filtraSurvey }}">

			<div class="small-12 medium-12 large-12 columns barra-blanca bg-tablas-data  {{survey_results.t_safety_respect_rs | filtraCeros}}">
    			<div class="porcentaje" style="width:{{survey_results.t_safety_respect_rs}}%;">
    				<p>{{survey_results.t_safety_respect_rs | number:1}}%</p>
    				<itemsurvey><button type="button" class="button button-white  [tiny small large]" ng-model="singleModel" ng-click="go('/school/' +  school.id + '/surveyDetail')" ng-href="#/school/{{school.id}}/surveyDetail">Detail</button></itemsurvey>
    			</div>

                <div class="metrics {{city_average.SchoolSurveyTeachers_Safety_RespectRawScore | filtraCeros}}">
                    <div class="average" style="width:{{city_average.SchoolSurveyTeachers_Safety_RespectRawScore}}%;">
                        <p style="padding-left:25px">City Average: {{city_average.SchoolSurveyTeachers_Safety_RespectRawScore}}%</p>
                    </div>                          
                    <div class="rank">
                    <p><img ng-src="img/{{ proficiency_ratings.t_safety_respect_rs_pr | filtraRank }}.png" ></p>
                    </div>
                    
                </div>
    		</div>
			</div>			


			<div class ="{{ 'students' | filtraSurvey }}">

			<div class="small-12 medium-12 large-12 columns barra-blanca bg-tablas-data  {{survey_results.s_safety_respect_rs | filtraCeros}}">
    			<div class="porcentaje" style="width:{{survey_results.s_safety_respect_rs}}%;">
    				<p>{{survey_results.s_safety_respect_rs | number:1}}%</p>
    				<itemsurvey><button type="button" class="button button-white  [tiny small large]" ng-model="singleModel" ng-click="go('/school/' +  school.id + '/surveyDetail')" ng-href="#/school/{{school.id}}/surveyDetail">Detail</button></itemsurvey>
    			</div>

                <div class="metrics {{city_average.SchoolSurveyStudents_Safety_RespectRawScore | filtraCeros}}">
                    <div class="average" style="width:{{city_average.SchoolSurveyStudents_Safety_RespectRawScore}}%;">
                        <p style="padding-left:25px">City Average: {{city_average.SchoolSurveyStudents_Safety_RespectRawScore}}%</p>
                    </div>                          
                    <div class="rank">
                    <p><img ng-src="img/{{ proficiency_ratings.s_safety_respect_rs_pr | filtraRank }}.png" ></p>
                    </div>
                    
                </div>
    		</div>
			</div>	

		</div>
	</accordion-group>

    
    <accordion-group is-open="true">
        <accordion-heading>
            <div id="grilla_06_02_up" class="grillaAcordion" onclick="rotarGrilla(this.id)">Engagement
            <a class="icon-info-acordion" ng-click="go('/school/' +  school.id + '/glossary')" ng-href="#/school/{{school.id}}/glossary"><img src='img/info.png' width='15'></a></div>
            <div class="icon-arrow-down2 right seis" id="grilla_icon_06_02"></div>
        </accordion-heading>     

		<!-- Safety and Respect -->
		<div class="row">

			<!-- Parents -->
			<div class ="{{ 'parents' | filtraSurvey }}">

			<div class="small-12 medium-12 large-12 columns barra-blanca bg-tablas-data  {{survey_results.p_engagement_rs | filtraCeros}}">
    			<div class="porcentaje" style="width:{{survey_results.p_engagement_rs}}%;">
    				<p>{{survey_results.p_engagement_rs | number:1}}%</p>
    				<itemsurvey><button type="button" class="button button-white   [tiny small large] " ng-model="singleModel" ng-click="go('/school/' +  school.id + '/surveyDetail')" ng-href="#/school/{{school.id}}/surveyDetail">Detail</button></itemsurvey>
    			</div>

                <div class="metrics {{city_average.SchoolSurveyParents_EngagementRawScore | filtraCeros}}">
                    <div class="average" style="width:{{city_average.SchoolSurveyParents_EngagementRawScore}}%;">
                        <p style="padding-left:25px">City Average: {{city_average.SchoolSurveyParents_EngagementRawScore}}%</p>
                    </div>                          
                    <div class="rank">
                    <p><img ng-src="img/{{ proficiency_ratings.p_engagement_rs_pr | filtraRank }}.png" ></p>
                    </div>
                    
                </div>
    		</div>
			</div>


			<div class ="{{ 'teachers' | filtraSurvey }}">

			<div class="small-12 medium-12 large-12 columns barra-blanca bg-tablas-data  {{survey_results.t_engagement_rs | filtraCeros}}">
    			<div class="porcentaje" style="width:{{survey_results.t_engagement_rs}}%;">
    				<p>{{survey_results.t_engagement_rs | number:1}}%</p>
    				<itemsurvey><button type="button" class="button button-white   [tiny small large] " ng-model="singleModel" ng-click="go('/school/' +  school.id + '/surveyDetail')" ng-href="#/school/{{school.id}}/surveyDetail">Detail</button></itemsurvey>
    			</div>

                <div class="metrics {{city_average.SchoolSurveyTeachers_EngagementRawScore | filtraCeros}}">
                    <div class="average" style="width:{{city_average.SchoolSurveyTeachers_EngagementRawScore}}%;">
                        <p style="padding-left:25px">City Average: {{city_average.SchoolSurveyTeachers_EngagementRawScore}}%</p>
                    </div>                          
                    <div class="rank">
                    <p><img ng-src="img/{{ proficiency_ratings.t_engagement_rs_pr | filtraRank }}.png" ></p>
                    </div>
                    
                </div>
    		</div>
			</div>			


			<div class ="{{ 'students' | filtraSurvey }}">

			<div class="small-12 medium-12 large-12 columns barra-blanca bg-tablas-data  {{survey_results.s_engagement_rs | filtraCeros}}">
    			<div class="porcentaje" style="width:{{survey_results.s_engagement_rs}}%;">
    				<p>{{survey_results.s_engagement_rs | number:1}}%</p>
    				<itemsurvey><button type="button" class="button button-white   [tiny small large] " ng-model="singleModel" ng-click="go('/school/' +  school.id + '/surveyDetail')" ng-href="#/school/{{school.id}}/surveyDetail">Detail</button></itemsurvey>
    			</div>

                <div class="metrics {{city_average.SchoolSurveyStudents_EngagementRawScore | filtraCeros}}">
                    <div class="average" style="width:{{city_average.SchoolSurveyStudents_EngagementRawScore}}%;">
                        <p style="padding-left:25px">City Average: {{city_average.SchoolSurveyStudents_EngagementRawScore}}%</p>
                    </div>                          
                    <div class="rank">
                    <p><img ng-src="img/{{ proficiency_ratings.s_engagement_rs_pr | filtraRank }}.png" ></p>
                    </div>
                    
                </div>
    		</div>
			</div>	

		</div>
	</accordion-group>



    
    <accordion-group is-open="true"> 
        <accordion-heading>
            <div id="grilla_06_03_up" class="grillaAcordion" onclick="rotarGrilla(this.id)">Communications
            <a class="icon-info-acordion" ng-click="go('/school/' +  school.id + '/glossary')" ng-href="#/school/{{school.id}}/glossary"><img src='img/info.png' width='15'></a></div>
            <div class="icon-arrow-down2 right seis" id="grilla_icon_06_03"></div>
        </accordion-heading>           

		<!-- Safety and Respect -->
		<div class="row">

			<!-- Parents -->
			<div class ="{{ 'parents' | filtraSurvey }}">

			<div class="small-12 medium-12 large-12 columns barra-blanca bg-tablas-data  {{survey_results.p_communication_rs | filtraCeros}}">
    			<div class="porcentaje" style="width:{{survey_results.p_communication_rs}}%;">
    				<p>{{survey_results.p_communication_rs | number:1}}%</p>
    				<itemsurvey><button type="button" class="button button-white  [tiny small large]" ng-model="singleModel" ng-click="go('/school/' +  school.id + '/surveyDetail')" ng-href="#/school/{{school.id}}/surveyDetail">Detail</button></itemsurvey>
    			</div>

                <div class="metrics {{city_average.SchoolSurveyParents_CommunicationRawScore | filtraCeros}}">
                    <div class="average" style="width:{{city_average.SchoolSurveyParents_CommunicationRawScore}}%;">
                        <p style="padding-left:25px">City Average: {{city_average.SchoolSurveyParents_CommunicationRawScore}}%</p>
                    </div>                          
                    <div class="rank">
                    <p><img ng-src="img/{{ proficiency_ratings.p_communication_rs_pr | filtraRank }}.png" ></p>
                    </div>
                    
                </div>
    		</div>
			</div>


			<div class ="{{ 'teachers' | filtraSurvey }}">

			<div class="small-12 medium-12 large-12 columns barra-blanca bg-tablas-data  {{survey_results.t_communication_rs | filtraCeros}}">
    			<div class="porcentaje" style="width:{{survey_results.t_communication_rs}}%;">
    				<p>{{survey_results.t_communication_rs | number:1}}%</p>
    				<itemsurvey><button type="button" class="button button-white  [tiny small large]" ng-model="singleModel" ng-click="go('/school/' +  school.id + '/surveyDetail')" ng-href="#/school/{{school.id}}/surveyDetail">Detail</button></itemsurvey>
    			</div>

                <div class="metrics {{city_average.SchoolSurveyTeachers_CommunicationRawScore | filtraCeros}}">
                    <div class="average" style="width:{{city_average.SchoolSurveyTeachers_CommunicationRawScore}}%;">
                        <p style="padding-left:25px">City Average: {{city_average.SchoolSurveyTeachers_CommunicationRawScore}}%</p>
                    </div>                          
                    <div class="rank">
                    <p><img ng-src="img/{{ proficiency_ratings.t_communication_rs_pr | filtraRank }}.png" ></p>
                    </div>
                    
                </div>
    		</div>
			</div>			


			<div class ="{{ 'students' | filtraSurvey }}">

			<div class="small-12 medium-12 large-12 columns barra-blanca bg-tablas-data  {{survey_results.s_communication_rs | filtraCeros}}">
    			<div class="porcentaje" style="width:{{survey_results.s_communication_rs}}%;">
    				<p>{{survey_results.s_communication_rs | number:1}}%</p>
    				<itemsurvey><button type="button" class="button button-white  [tiny small large]" ng-model="singleModel" ng-click="go('/school/' +  school.id + '/surveyDetail')" ng-href="#/school/{{school.id}}/surveyDetail">Detail</button></itemsurvey>
    			</div>

                <div class="metrics {{city_average.SchoolSurveyStudents_CommunicationRawScore | filtraCeros}}">
                    <div class="average" style="width:{{city_average.SchoolSurveyStudents_CommunicationRawScore}}%;">
                        <p style="padding-left:25px">City Average: {{city_average.SchoolSurveyStudents_CommunicationRawScore}}%</p>
                    </div>                          
                    <div class="rank">
                    <p><img ng-src="img/{{ proficiency_ratings.s_communication_rs_pr | filtraRank }}.png" ></p>
                    </div>
                    
                </div>
    		</div>
			</div>	

		</div>
	</accordion-group>	


    
    <accordion-group is-open="true">
        <accordion-heading>
            <div id="grilla_06_04_up" class="grillaAcordion" onclick="rotarGrilla(this.id)">Academic Expectations
            <a class="icon-info-acordion" ng-click="go('/school/' +  school.id + '/glossary')" ng-href="#/school/{{school.id}}/glossary"><img src='img/info.png' width='15'></a></div>
            <div class="icon-arrow-down2 right seis" id="grilla_icon_06_04"></div>
        </accordion-heading>       

		<!-- Safety and Respect -->
		<div class="row">

			<!-- Parents -->
			<div class ="{{ 'parents' | filtraSurvey }}">

			<div class="small-12 medium-12 large-12 columns barra-blanca bg-tablas-data  {{survey_results.p_academic_expectations_rs | filtraCeros}}">
    			<div class="porcentaje" style="width:{{survey_results.p_academic_expectations_rs}}%;">
    				<p>{{survey_results.p_academic_expectations_rs | number:1}}%</p>
    				<itemsurvey><button type="button" class="button button-white  [tiny small large]" ng-model="singleModel" ng-click="go('/school/' +  school.id + '/surveyDetail')" ng-href="#/school/{{school.id}}/surveyDetail">Detail</button></itemsurvey>
    			</div>

                <div class="metrics {{city_average.SchoolSurveyParents_AcademicExpectationsRawScore | filtraCeros}}">
                    <div class="average" style="width:{{city_average.SchoolSurveyParents_AcademicExpectationsRawScore}}%;">
                        <p style="padding-left:25px">City Average: {{city_average.SchoolSurveyParents_AcademicExpectationsRawScore}}%</p>
                    </div>                          
                    <div class="rank">
                    <p><img ng-src="img/{{ proficiency_ratings.p_academic_expectations_rs_pr | filtraRank }}.png" ></p>
                    </div>
                    
                </div>
    		</div>
			</div>


			<div class ="{{ 'teachers' | filtraSurvey }}">

			<div class="small-12 medium-12 large-12 columns barra-blanca bg-tablas-data  {{survey_results.t_academic_expectations_rs | filtraCeros}}">
    			<div class="porcentaje" style="width:{{survey_results.t_academic_expectations_rs}}%;">
    				<p>{{survey_results.t_academic_expectations_rs | number:1}}%</p>
    				<itemsurvey><button type="button" class="button button-white  [tiny small large]" ng-model="singleModel" ng-click="go('/school/' +  school.id + '/surveyDetail')" ng-href="#/school/{{school.id}}/surveyDetail">Detail</button></itemsurvey>
    			</div>

                <div class="metrics {{city_average.SchoolSurveyTeachers_AcademicExpectationsRawScore | filtraCeros}}">
                    <div class="average" style="width:{{city_average.SchoolSurveyTeachers_AcademicExpectationsRawScore}}%;">
                        <p style="padding-left:25px">City Average: {{city_average.SchoolSurveyTeachers_AcademicExpectationsRawScore}}%</p>
                    </div>                          
                    <div class="rank">
                    <p><img ng-src="img/{{ proficiency_ratings.t_academic_expectations_rs_pr | filtraRank }}.png" ></p>
                    </div>
                    
                </div>
    		</div>
			</div>			


			<div class ="{{ 'students' | filtraSurvey }}">

			<div class="small-12 medium-12 large-12 columns barra-blanca bg-tablas-data  {{survey_results.s_academic_expectations_rs | filtraCeros}}">
    			<div class="porcentaje" style="width:{{survey_results.s_academic_expectations_rs}}%;">
    				<p>{{survey_results.s_academic_expectations_rs | number:1}}%</p>
    				<itemsurvey><button type="button" class="button button-white  [tiny small large]" ng-model="singleModel" ng-click="go('/school/' +  school.id + '/surveyDetail')" ng-href="#/school/{{school.id}}/surveyDetail">Detail</button></itemsurvey>
    			</div>

                <div class="metrics {{city_average.SchoolSurveyStudents_AcademicExpectationsRawScore | filtraCeros}}">
                    <div class="average" style="width:{{city_average.SchoolSurveyStudents_AcademicExpectationsRawScore}}%;">
                        <p style="padding-left:25px">City Average: {{city_average.SchoolSurveyStudents_AcademicExpectationsRawScore}}%</p>
                    </div>                          
                    <div class="rank">
                    <p><img ng-src="img/{{ proficiency_ratings.s_academic_expectations_rs_pr | filtraRank }}.png" ></p>
                    </div>
                    
                </div>
    		</div>
			</div>	

		</div>
	</accordion-group>		



</div>
</accordion>
</div> <!-- Control accordion -->


	</div>	
    </section>
    <!--END.CONTENIDO-->

  <a class="exit-off-canvas"></a>

  </div>
</div>
