<div class="off-canvas-wrap">
  <div class="inner-wrap">
    <nav class="tab-bar header">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
      </section>

      <section class="right tab-bar-section">
        <h1 class="title">{{ school.name }}</h1>
      </section>
    </nav>

    <div ng-include src="'templates/sidebar.html'"></div>
    
    <section class="main-section" style="min-height:350px">
    
	<div class="row menu-header">	
		<div class="small-6 small-centered medium-6 large-6 columns">
			<h3 class="text-center">College Career</h3>
		</div>	
		<div class="small-10 small-centered medium-10 large-10 columns">		
			<div class="row">
				<div class="small-4 small-centered medium-6 large-6 columns">


			<div ng-controller="CollegeCarrerDropdownCtrl" class="text-center">
			  <a dropdown-toggle="#dropdown-CollegeCarrer" class="button dropdown small bg-dropdown">{{selectedyearCollegeCarrer}}</a>
			  <ul id="dropdown-CollegeCarrer" class="f-dropdown" style="width:100px">
			    <li ng-repeat="item in itemsddCollegeCarrer">
			      <a ng-click="changeyear(item.indice)">{{item.texto}}</a>
			    </li>
			  </ul>
			  <br>
			  <br>
			</div>

				</div>			
			</div>
		</div>		
	</div>		
	
	<div class="row">

<div ng-controller="AccordionDemoCtrl">

  <accordion close-others="oneAtATime">


  	<div class="icon-arrow-down2"></div>
    <accordion-grouptwo heading="Readiness" is-open="true">  

    	<div class="row">

	<div class="small-12 medium-12 large-12 columns barra-blanca bg-tablas-data  {{college_career.postsecondary_enrollment_rate_6months | filtraCeros}}">
    			<div class="porcentaje" style="width:{{college_career.postsecondary_enrollment_rate_6months}}%;">
    				<p>{{college_career.postsecondary_enrollment_rate_6months | number:1}}%</p>
    				<itemsurvey><span>Enrollment Rate <a ng-href="/profile/glossary"><div class="info-perfil_azul"></div></a></span></itemsurvey>
    			</div>

			<div class="metrics {{city_average.Post_SecondaryEnrollmentRate | filtraCeros}}">
				<div class="average " style="width:{{city_average.Post_SecondaryEnrollmentRate}}%;">
    				<p style="padding-left:25px">City Average:{{city_average.Post_SecondaryEnrollmentRate}}%</p>
				</div>	
					<!--						    			
		    			<div class="rank">
		    				<p>Rank <barra>◼︎◼︎◻︎◻︎</barra> > Avg.</p>
		    			</div>
					-->
    			
			</div>
	</div>

			    		<div class="small-12 medium-12 large-12 columns barra-blanca bg-tablas-data  {{college_career.4year_non_remediation_rate | filtraCeros}}">
			    			<div class="porcentaje" style="width:{{college_career.4year_non_remediation_rate}}%;">
			    				<p>{{college_career.4year_non_remediation_rate | number:1}}%</p>
			    				<itemsurvey><span>Non-Remediation Rate <a ng-href="/profile/glossary"><div class="info-perfil_azul"></div></a></span></itemsurvey>
			    			</div>
			    			<div class="metrics {{city_average.Four_YearNon_RemediationRate | filtraCeros}}">
								<div class="average" style="width:{{city_average.Four_YearNon_RemediationRate}}%;">
				    				<p style="padding-left:25px">City Average:{{city_average.Four_YearNon_RemediationRate}}%</p>
								</div>			    			
			    	<!--		<div class="rank">
				    				<p>Rank <barra>◼︎◼︎◻︎◻︎</barra> > Avg.</p>
				    			</div>	-->
				    			
			    			</div>
			    		</div>	

			    		<div class="small-12 medium-12 large-12 columns barra-blanca bg-tablas-data  {{college_career.cc_preparatory_course_index | filtraCeros}}">
			    			<div class="porcentaje" style="width:{{college_career.cc_preparatory_course_index}}%;">
			    				<p>{{college_career.cc_preparatory_course_index | number:1}}%</p>
			    				<itemsurvey><span>Prep Course Index <a ng-href="/profile/glossary"><div class="info-perfil_azul"></div></a></span></itemsurvey>
			    			</div>
			    			<div class="metrics {{city_average.CollegeandCareerPreparatoryCourseIndex | filtraCeros}}">
								<div class="average" style="width:{{city_average.CollegeandCareerPreparatoryCourseIndex}}%;">
				    				<p style="padding-left:25px">City Average:{{city_average.CollegeandCareerPreparatoryCourseIndex}}%</p>
								</div>			    			
					<!--		<div class="rank">
				    				<p>Rank <barra>◼︎◼︎◻︎◻︎</barra> > Avg.</p>
				    			</div>	-->
				    			
			    			</div>
			    		</div>	


			    		<div class="small-12 medium-12 large-12 columns barra-blanca bg-tablas-data  {{college_career.c_readiness_r_including_p | filtraCeros}}">
			    			<div class="porcentaje" style="width:{{college_career.c_readiness_r_including_p}}%;">
			    				<p>{{college_career.c_readiness_r_including_p | number:1}}%</p>
			    				<itemsurvey><span>Readiness Rate <a ng-href="/profile/glossary"><div class="info-perfil_azul"></div></a></span></itemsurvey>
			    			</div>
			    			<div class="metrics {{city_average.CollegeReadinessRateIncludingPersistence | filtraCeros}}">
								<div class="average" style="width:{{city_average.CollegeReadinessRateIncludingPersistence}}%;">
				    				<p style="padding-left:25px">City Average:{{city_average.CollegeReadinessRateIncludingPersistence}}%</p>
								</div>			    			
					<!--		<div class="rank">
				    				<p>Rank <barra>◼︎◼︎◻︎◻︎</barra> > Avg.</p>
				    			</div>	-->
				    			
			    			</div>
			    		</div>

			    	</div>
			    </accordion-grouptwo>

			    <div class="icon-arrow-down2"></div>
			    <accordion-group heading="Graduation" is-open="true">  



			    	<div class="row">
			    		<div class="small-12 medium-12 large-12 columns barra-blanca bg-tablas-data  {{college_career.4y_g_r | filtraCeros}}">
			    			<div class="porcentaje" style="width:{{college_career.4y_g_r}}%;">
			    				<p>{{college_career.4y_g_r | number:1}}%</p>
			    				<itemsurvey><span>4 year Graduation Rate <a ng-href="/profile/glossary"><div class="info-perfil_azul"></div></a></span></itemsurvey>
			    			</div>
			    			<div class="metrics {{city_average.4YearGraduationRate | filtraCeros}}">
								<div class="average" style="width:{{city_average.4YearGraduationRate}}%;">
				   					<p style="padding-left:25px">City Average: {{city_average.4YearGraduationRate}}%</p>
								</div>			    			
					<!--		<div class="rank">
				    				<p>Rank <barra>◼︎◼︎◻︎◻︎</barra> > Avg.</p>
				    			</div>	-->
				    			
			    			</div>
			    		</div>

			    		<div class="small-12 medium-12 large-12 columns barra-blanca bg-tablas-data  {{college_career.6y_g_r | filtraCeros}}">
			    			<div class="porcentaje" style="width:{{college_career.6y_g_r}}%;">
			    				<p>{{college_career.6y_g_r | number:1}}%</p>
			    				<itemsurvey><span>6 year Graduation Rate <a ng-href="/profile/glossary"><div class="info-perfil_azul"></div></a></span></itemsurvey>
			    			</div>
			    			<div class="metrics {{city_average.6YearGraduationRate | filtraCeros}}">
								<div class="average" style="width:{{city_average.6YearGraduationRate}}%;">
				    				<p style="padding-left:25px">City Average: {{city_average.6YearGraduationRate}}%</p>
								</div>			    			
					<!--		<div class="rank">
				    				<p>Rank <barra>◼︎◼︎◻︎◻︎</barra> > Avg.</p>
				    			</div>	-->
				    			
			    			</div>
			    		</div>		
			    	</div>

			    </accordion-group>



	</accordion>
	</div>
	</div>	<!-- row -->
    </section>
    
  <a class="exit-off-canvas"></a>

  </div>
</div>