<div class="off-canvas-wrap">
  <div class="inner-wrap">
    <nav class="tab-bar header">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
      </section>

      <section class="right tab-bar-section middle-vertical">
        <h1 class="title">{{ school.name }}</h1>
      </section>
    </nav>

    <div ng-include src="'templates/sidebar.html'"></div>
    
    <!--CONTENIDO-->
    <section class="main-section">
    
      <div class="row menu-header">   
        <div class="small-6 small-centered medium-6 large-6 columns">
          <h3 class="text-center">Demographics</h3>
        </div> 
        <div class="small-6 small-centered medium-6 large-6 columns">    
          <div ng-controller="DemographicsCtrlYear" class="text-center">
            <a dropdown-toggle="#dropdown-demographics" class="button dropdown small bg-dropdown">{{selectedyearDemographics}}</a>
            <ul id="dropdown-demographics" class="f-dropdown" >
              <li ng-repeat="item in itemsYearsDemographic">
                <a ng-click="changeyear(item.indice)">{{item.texto}}</a>
              </li>
            </ul>
            <br>
          </div>
        </div>   
      </div>      
    
    <div class="row">

    

  <div ng-controller="AccordionDemoCtrl">

  <accordion close-others="oneAtATime">
  	
    <accordion-group is-open="false" ng-show="valuesGender">
        <accordion-heading>
            <div>Gender</div>
        </accordion-heading>

    <div class="row">
      <div class="small-12 medium-12 large-12 columns bg-tablas-data {{demographic.female }}">
        <div class="democracy color1" style="width:{{demographic.female}}%;">
          <p>{{demographic.female | number:1}}%</p>
          <itemsurvey><span class="sin-i">Female</span></itemsurvey>
        </div>
      </div>
      <div class="small-12 medium-12 large-12 columns bg-tablas-data {{demographic.male }}">
        <div class="democracy color2" style="width:{{demographic.male}}%;">
          <p>{{demographic.male | number:1}}%</p>
          <itemsurvey><span class="sin-i">Male</span></itemsurvey>
        </div>
      </div>      
    </div>
    </accordion-group>

	
	<accordion-group is-open="false" ng-show="valuesEthnicity">
        <accordion-heading>
            <div>Ethnicity</div>
        </accordion-heading>  
        <div class="row">
	        <div class="small-12 medium-12 large-12 columns bg-tablas-data {{demographic.asian }}">
		        <div class="democracy color1" style="width:{{demographic.asian}}%;">
		        <p>{{demographic.asian | number:1}}%</p>
		        <itemsurvey><span class="sin-i">Asian</span></itemsurvey>
		        </div>
	        </div>
	        <div class="small-12 medium-12 large-12 columns bg-tablas-data {{demographic.black }}">
		        <div class="democracy color2" style="width:{{demographic.black}}%;">
		        <p>{{demographic.black | number:1}}%</p>
		        <itemsurvey><span class="sin-i">Black</span></itemsurvey>
		        </div>
	        </div>
	        <div class="small-12 medium-12 large-12 columns bg-tablas-data {{demographic.latino }}">
		        <div class="democracy color1" style="width:{{demographic.latino}}%;">
		        <p>{{demographic.latino | number:1}}%</p>
		        <itemsurvey><span class="sin-i">Latino</span></itemsurvey>
		        </div>
	        </div>  
	        <div class="small-12 medium-12 large-12 columns bg-tablas-data {{demographic.white }}">
		        <div class="democracy color2" style="width:{{demographic.white}}%;">
		        <p>{{demographic.white | number:1}}%</p>
		        <itemsurvey><span class="sin-i">White</span></itemsurvey>
		        </div>
	        </div>  
	        <div class="small-12 medium-12 large-12 columns bg-tablas-data {{demographic.other }}">
		        <div class="democracy color1" style="width:{{demographic.other}}%;">
		        <p>{{demographic.other | number:1}}%</p>
		        <itemsurvey><span class="sin-i">Other</span></itemsurvey>
		        </div>
	        </div>
        </div>
    </accordion-group>

	
	<accordion-group is-open="false" ng-show="valuesStatus">
    <accordion-heading>
        <div>Status</div>
    </accordion-heading>  
  <div class="row">

    <div class="small-12 medium-12 large-12 columns bg-tablas-data {{demographic.free_reduced_price_lunch }}">
      <div class="democracy color1" style="width:{{demographic.free_reduced_price_lunch}}%;">
        <p>{{demographic.free_reduced_price_lunch | number:1}}%</p>
        <itemsurvey><span class="con-info">Free / Reduced Lunch</span>
        <div Popover-animation="false" popover="Percentage of students with families who have qualified for the Free or Reduced-Price Lunch program or if the student is enrolled in a Universal Meal School (where all students automatically qualify)." popover-placement="left" class="icon-info" style="cursor:pointer" onclick="quitaBurbuja()"></div>
        </itemsurvey>
      </div>
    </div>


    <div class="small-12 medium-12 large-12 columns bg-tablas-data {{demographic.whith_disabilities }}">
      <div class="democracy color2" style="width:{{demographic.whith_disabilities}}%;">
        <p>{{demographic.whith_disabilities | number:1}}%</p>
        <itemsurvey><span class="con-info">Students with Disabilities</span>
        <div Popover-animation="false" popover="Percentage of students receiving an Individualized Education Plan (IEP) as of the end of the school year." popover-placement="left" class="icon-info" style="cursor:pointer" onclick="quitaBurbuja()"></div>
        </itemsurvey>
      </div>
    </div> 

    <div class="small-12 medium-12 large-12 columns bg-tablas-data {{demographic.english_language_learners }}">
      <div class="democracy color1" style="width:{{demographic.english_language_learners}}%;">
        <p>{{demographic.english_language_learners | number:1}}%</p>
        <itemsurvey><span class="con-info">English Language Learners</span>
        <div Popover-animation="false" popover="Percent of students that have been identified based on an initial language assessment and who have not passed the New York State English as a Second Language Achievement Test (NYSESLAT)." popover-placement="left" class="icon-info" style="cursor:pointer" onclick="quitaBurbuja()"></div>
        </itemsurvey>
      </div>
    </div> 

  </div>
        
    </accordion-group>
</accordion>

</div>

</div>  
</section>
    <!--END.CONTENIDO-->

  <a class="exit-off-canvas"></a>

  </div>
</div>