<div class="off-canvas-wrap">
  <div class="inner-wrap">
    <nav class="tab-bar header">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
      </section>

      <section class="right tab-bar-section">
        <h1 class="title">{{ school.name }}</h1>
      </section>
    </nav>

    <div ng-include src="'templates/sidebar.html'"></div>
    
    <section class="main-section">


    <div class="{{ 'nd' | filtraAdmissions}}"> <!--ES ADMISSION-->

	<div class="row menu-header">	
		<div class="small-6 small-centered medium-6 large-6 columns">
			<h3 class="text-center">Admissions</h3>
		</div>	
	</div>	

		<div  class="no-data">NO DATA AVAILABLE</div>


	</div>  


<div class="{{ 'selectShoolEM' | filtraAdmissions}}"> <!--ES ADMISSION-->
	<div class="row menu-header">	
		<div class="small-10 small-centered medium-6 large-6 columns"><h3 class="text-center">Select Admissions</h3></div>	
		<div class="small-10 small-centered medium-10 large-10 columns">		
            <div class="row">
                <div class="small-10 small-centered medium-6 large-6 columns">
                    <div ng-controller="SelectAdmission" class="text-center">
                      <a dropdown-toggle="#dropdown_select_admission" class="button dropdown small bg-dropdown" style="width:200px">Select Admission</a>
                      <ul id="dropdown_select_admission" class="f-dropdown" style="width:300px">
                        <li ng-repeat="item_select_admiss in itemsAdmission">
                          <a ng-click="changeadmission(item_select_admiss.indice)">{{item_select_admiss.texto}}</a>
                        </li>
                      </ul>
                      <br>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>  


<div class="{{ 'selectShoolMH' | filtraAdmissions}}"> <!--ES ADMISSION-->
	<div class="row menu-header">	
		<div class="small-10 small-centered medium-6 large-6 columns"><h3 class="text-center">Select Admissions</h3></div>	
		<div class="small-10 small-centered medium-10 large-10 columns">		
            <div class="row">
                <div class="small-10 small-centered medium-6 large-6 columns">
                    <div ng-controller="SelectAdmission_mh" class="text-center">
                      <a dropdown-toggle="#dropdown_select_admission_mh" class="button dropdown small bg-dropdown" style="width:200px">Select Admission</a>
                      <ul id="dropdown_select_admission_mh" class="f-dropdown" style="width:300px">
                        <li ng-repeat="item_select_admiss in itemsAdmission_mh">
                          <a ng-click="changeadmission_mh(item_select_admiss.indice)">{{item_select_admiss.texto}}</a>
                        </li>
                      </ul>
                      <br>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>  

<div class="{{ 'all' | filtraAdmissions}} {{filtroAllS}}">

    
    <div class="{{ 'es' | filtraAdmissions}} {{filtroElementaryS}}"> <!--ES ADMISSION-->


	<div class="row menu-header">	
		<div class="small-10 small-centered medium-6 large-6 columns">
			<h3 class="text-center">Elementary School Admissions</h3>
		</div>	
	</div>	

			<div class="row profile_item">
				<div class="small-5 columns">
					<div class="profile_label">
						<span>Program</span>
						<a ng-click="go('/school/' +  school.id + '/glossary')" ng-href="#/school/{{school.id}}/glossary"><div class="info-perfil"></div></a>
					</div>
				</div>
				<div class="small-7 columns">
					<div class="profile_info">
						<span>{{ school.name }}</span>
					</div>
				</div>
			</div>	

			<div class="row profile_item">
				<div class="small-5 columns">
					<div class="profile_label">
						<span>Method</span>
						<a ng-click="go('/school/' +  school.id + '/glossary')" ng-href="#/school/{{school.id}}/glossary"><div class="info-perfil"></div></a>
					</div>
				</div>
				<div class="small-7 columns">
					<div class="profile_info">
						<span>{{es_admissions.admissions_method}}</span>
					</div>
				</div>
			</div>

<div ng-controller="AccordionDemoCtrl">


  	<accordion close-others="oneAtATime">


    	<accordion-group heading="Priorities" is-open="true" >

		 <!--AVERANGE ELA -->
<div class="row">
	<div class="small-12 medium-12 large-12 columns barra-gris {{es_admissions.priority1 | filtraCeros}}">
		<div class="priority">
			<h6>Priority 1.
		<div ng-controller="PopoverDemoCtrl">
    <div Popover-animation="true" popover="Based on student attendance and the results of the school's NYC School Survey." popover-placement="left" class="icon-info" style="cursor:pointer"></div>
    	</div>
			</h6>
			<p>{{es_admissions.priority1}}</p>
		</div>
	</div>

	<div class="small-12 medium-12 large-12 columns barra-gris {{es_admissions.priority2 | filtraCeros}}">
		<div class="priority color2">
			<h6>Priority 2. 
		<div ng-controller="PopoverDemoCtrl">
    <div Popover-animation="true" popover="Based on student attendance and the results of the school's NYC School Survey." popover-placement="left" class="icon-info" style="cursor:pointer"></div>
    	</div>
			</h6>
			<p>{{es_admissions.priority2}}</p>
		</div>
	</div>

	<div class="small-12 medium-12 large-12 columns barra-gris {{es_admissions.priority3 | filtraCeros}}">
		<div class="priority">
			<h6>Priority 3. 
		<div ng-controller="PopoverDemoCtrl">
    <div Popover-animation="true" popover="Based on student attendance and the results of the school's NYC School Survey." popover-placement="left" class="icon-info" style="cursor:pointer"></div>
    	</div>
			</h6>
			<p>{{es_admissions.priority3}}</p>
		</div>
	</div>

	<div class="small-12 medium-12 large-12 columns barra-gris {{es_admissions.priority4 | filtraCeros}}">
		<div class="priority color2">
			<h6>Priority 4. 
		<div ng-controller="PopoverDemoCtrl">
    <div Popover-animation="true" popover="Based on student attendance and the results of the school's NYC School Survey." popover-placement="left" class="icon-info" style="cursor:pointer"></div>
    	</div>
			</h6>
			<p>{{es_admissions.priority4}}</p>
		</div>
	</div>

	<div class="small-12 medium-12 large-12 columns barra-gris {{es_admissions.priority5 | filtraCeros}}">
		<div class="priority">
			<h6>Priority 5. 
		<div ng-controller="PopoverDemoCtrl">
    <div Popover-animation="true" popover="Based on student attendance and the results of the school's NYC School Survey." popover-placement="left" class="icon-info" style="cursor:pointer"></div>
    	</div>				
			</h6>
			<p>{{es_admissions.priority5}}</p>
		</div>
	</div>	

	<div class="small-12 medium-12 large-12 columns barra-gris {{es_admissions.priority6 | filtraCeros}}">
		<div class="priority color2">
			<h6>Priority 6. 
		<div ng-controller="PopoverDemoCtrl">
    <div Popover-animation="true" popover="Based on student attendance and the results of the school's NYC School Survey." popover-placement="left" class="icon-info" style="cursor:pointer"></div>
    	</div>
			</h6>
			<p>{{es_admissions.priority6}}</p>
		</div>
	</div>			

	<div class="small-12 medium-12 large-12 columns barra-gris {{es_admissions.priority7 | filtraCeros}}">
		<div class="priority">
			<h6>Priority 7. 
		<div ng-controller="PopoverDemoCtrl">
    <div Popover-animation="true" popover="Based on student attendance and the results of the school's NYC School Survey." popover-placement="left" class="icon-info" style="cursor:pointer"></div>
    	</div>
			</h6>
			<p>{{es_admissions.priority7}}</p>
		</div>
	</div>	

	<div class="small-12 medium-12 large-12 columns barra-gris {{es_admissions.priority8 | filtraCeros}}">
		<div class="priority color2">
			<h6>Priority 8. 
		<div ng-controller="PopoverDemoCtrl">
    <div Popover-animation="true" popover="Based on student attendance and the results of the school's NYC School Survey." popover-placement="left" class="icon-info" style="cursor:pointer"></div>
    	</div>
			</h6>
			<p>{{es_admissions.priority8}}</p>
		</div>
	</div>	

	<div class="small-12 medium-12 large-12 columns barra-gris {{es_admissions.priority9 | filtraCeros}}">
		<div class="priority">
			<h6>Priority 9. 
		<div ng-controller="PopoverDemoCtrl">
    <div Popover-animation="true" popover="Based on student attendance and the results of the school's NYC School Survey." popover-placement="left" class="icon-info" style="cursor:pointer"></div>
    	</div>
			</h6>
			<p>{{es_admissions.priority9}}</p>
		</div>
	</div>	

	<div class="small-12 medium-12 large-12 columns barra-gris {{es_admissions.priority10 | filtraCeros}}">
		<div class="priority color2">
			<h6>Priority 10. 
		<div ng-controller="PopoverDemoCtrl">
    <div Popover-animation="true" popover="Based on student attendance and the results of the school's NYC School Survey." popover-placement="left" class="icon-info" style="cursor:pointer"></div>
    	</div>
			</h6>
			<p>{{es_admissions.priority10}}</p>
		</div>
	</div>		

	<div class="small-12 medium-12 large-12 columns barra-gris {{es_admissions.priority11 | filtraCeros}}">
		<div class="priority">
			<h6>Priority 11. 
		<div ng-controller="PopoverDemoCtrl">
    <div Popover-animation="true" popover="Based on student attendance and the results of the school's NYC School Survey." popover-placement="left" class="icon-info" style="cursor:pointer"></div>
    	</div>
			</h6>
			<p>{{es_admissions.priority11}}</p>
		</div>
	</div>	

	<div class="small-12 medium-12 large-12 columns barra-gris {{es_admissions.priority12 | filtraCeros}}">
		<div class="priority color2">
			<h6>Priority 12. 
		<div ng-controller="PopoverDemoCtrl">
    <div Popover-animation="true" popover="Based on student attendance and the results of the school's NYC School Survey." popover-placement="left" class="icon-info" style="cursor:pointer"></div>
    	</div>
			</h6>
			<p>{{es_admissions.priority12}}</p>
		</div>
	</div>	

	<div class="small-12 medium-12 large-12 columns barra-gris {{es_admissions.priority13 | filtraCeros}}">
		<div class="priority">
			<h6>Priority 13. 
		<div ng-controller="PopoverDemoCtrl">
    <div Popover-animation="true" popover="Based on student attendance and the results of the school's NYC School Survey." popover-placement="left" class="icon-info" style="cursor:pointer"></div>
    	</div>
			</h6>
			<p>{{es_admissions.priority13}}</p>
		</div>
	</div>	

	<div class="small-12 medium-12 large-12 columns barra-gris {{es_admissions.priority14 | filtraCeros}}">
		<div class="priority color2">
			<h6>Priority 14. 
		<div ng-controller="PopoverDemoCtrl">
    <div Popover-animation="true" popover="Based on student attendance and the results of the school's NYC School Survey." popover-placement="left" class="icon-info" style="cursor:pointer"></div>
    	</div>
			</h6>
			<p>{{es_admissions.priority14}}</p>
		</div>
	</div>	

	<div class="small-12 medium-12 large-12 columns barra-gris {{es_admissions.priority15 | filtraCeros}}">
		<div class="priority">
			<h6>Priority 15. 
		<div ng-controller="PopoverDemoCtrl">
    <div Popover-animation="true" popover="Based on student attendance and the results of the school's NYC School Survey." popover-placement="left" class="icon-info" style="cursor:pointer"></div>
    	</div>
			</h6>
			<p>{{es_admissions.priority15}}</p>
		</div>
	</div>	

	<div class="small-12 medium-12 large-12 columns barra-gris {{es_admissions.priority16 | filtraCeros}}">
		<div class="priority color2">
			<h6>Priority 16. 
		<div ng-controller="PopoverDemoCtrl">
    <div Popover-animation="true" popover="Based on student attendance and the results of the school's NYC School Survey." popover-placement="left" class="icon-info" style="cursor:pointer"></div>
    	</div>
			</h6>
			<p>{{es_admissions.priority16}}</p>
		</div>
	</div>	

	<div class="small-12 medium-12 large-12 columns barra-gris {{es_admissions.priority17 | filtraCeros}}">
		<div class="priority">
			<h6>Priority 17. 
		<div ng-controller="PopoverDemoCtrl">
    <div Popover-animation="true" popover="Based on student attendance and the results of the school's NYC School Survey." popover-placement="left" class="icon-info" style="cursor:pointer"></div>
    	</div>
			</h6>
			<p>{{es_admissions.priority17}}</p>
		</div>
	</div>	

	<div class="small-12 medium-12 large-12 columns barra-gris {{es_admissions.priority18 | filtraCeros}}">
		<div class="priority color2">
			<h6>Priority 18. 
		<div ng-controller="PopoverDemoCtrl">
    <div Popover-animation="true" popover="Based on student attendance and the results of the school's NYC School Survey." popover-placement="left" class="icon-info" style="cursor:pointer"></div>
    	</div>
			</h6>
			<p>{{es_admissions.priority18}}</p>
		</div>
	</div>	
									
</div>

    	</accordion-group>	

	</accordion>


		</div>
		<br>
			</div> <!-- FIN ES-->


     <div class="{{ 'ms' | filtraAdmissions}} {{filtroMiddleS}}"> <!--MS ADMISSION-->



	<div class="row menu-header">	
		<div class="small-10 small-centered medium-6 large-6 columns">
			<h3 class="text-center">Middle School Admissions</h3>
		</div>	
		<div class="small-10 small-centered medium-10 large-10 columns">		


            <div class="row">

                <div class="small-10 small-centered medium-6 large-6 columns">
                    <div ng-controller="AdmissionsMSctrl" class="text-center" >
                      <a style="width:200px !important" dropdown-toggle="#dropdown-year_admissions_ms" class="button dropdown small bg-dropdown">{{progSelected}}</a>
                      <ul id="dropdown-year_admissions_ms" class="f-dropdown" style="width:200px">
                        <li ng-repeat="itemy in itemsaddMS">
                          <a ng-click="changeprog(itemy.indice)">{{itemy.texto}}</a>
                        </li>
                      </ul>
                      <br>
                    </div>
                </div>

            </div>


		</div>			
	</div>	

			<div class="row profile_item">
				<div class="small-5 columns">
					<div class="profile_label">
						<span>Program</span>
						<a ng-click="go('/school/' +  school.id + '/glossary')" ng-href="#/school/{{school.id}}/glossary"><div class="info-perfil"></div></a>
					</div>
				</div>
				<div class="small-7 columns">
					<div class="profile_info">

		<span>{{ms_admissions.program_name}}</span>

		<div ng-controller="PopoverDemoCtrl">
    <div Popover-animation="true" popover="??????????????" popover-placement="left" class="icon-info" style="cursor:pointer"></div>
		</div>


					</div>
				</div>
			</div>
			<div class="row profile_item">
				<div class="small-5 columns">
					<div class="profile_label">
						<span>Interest Area</span>
						<a ng-click="go('/school/' +  school.id + '/glossary')" ng-href="#/school/{{school.id}}/glossary"><div class="info-perfil"></div></a>
					</div>
				</div>
				<div class="small-7 columns">
					<div class="profile_info">
						<span>{{ms_admissions.program_focus}}</span>
					</div>
				</div>
			</div>			
			<div class="row profile_item">
				<div class="small-5 columns">
					<div class="profile_label">
						<span>Method</span>
						<a ng-click="go('/school/' +  school.id + '/glossary')" ng-href="#/school/{{school.id}}/glossary"><div class="info-perfil"></div></a>
					</div>
				</div>
				<div class="small-7 columns">
					<div class="profile_info">
						<span>{{ms_admissions.admissions_method}}</span>
					</div>
				</div>
			</div>


			<div class="row profile_item">
				<div class="small-12 medium-12 large-12 columns">
					<div class="profile_label">
						<span>Priorities</span>
					</div>
				</div>
			</div>
			<div class="row profile_item">
				<div class="small-12 medium-12 large-12 columns">
					<div class="profile_info">
						<span>{{ms_admissions.admissions_priority}}</span>
		<div ng-controller="PopoverDemoCtrl">
    <div Popover-animation="true" popover="The order in which applicants are considered for placement. " popover-placement="left" class="icon-info" style="cursor:pointer"></div>
		</div>
					</div>
				</div>
			</div>

			<div class="row profile_item">
				<div class="small-5 columns">
					<div class="profile_label">
						<span>Seats</span>
						<a ng-click="go('/school/' +  school.id + '/glossary')" ng-href="#/school/{{school.id}}/glossary"><div class="info-perfil"></div></a>
					</div>
				</div>
				<div class="small-7 columns">
					<div class="profile_info">
						<span>{{ms_admissions.number_seats}}</span>
					</div>
				</div>
			</div>	

			<div class="row profile_item">
				<div class="small-5 columns">
					<div class="profile_label">
						<span>Applicant</span>
						<a ng-click="go('/school/' +  school.id + '/glossary')" ng-href="#/school/{{school.id}}/glossary"><div class="info-perfil"></div></a>
					</div>
				</div>
				<div class="small-7 columns">
					<div class="profile_info">
						<span>{{ms_admissions.number_applicant}}</span>
					</div>
				</div>
			</div>									


			</div> <!-- FIN MS-->			



     <div class="{{ 'hs' | filtraAdmissions}} {{filtroHighS}}"> <!--HS ADMISSION-->


	<div class="row menu-header">	
		<div class="small-10 small-centered medium-6 large-6 columns">
			<h3 class="text-center">High School Admissions</h3>
		</div>	
		<div class="small-10 small-centered medium-10 large-10 columns">		


            <div class="row">

                <div class="small-10 small-centered medium-6 large-6 columns">
                    <div ng-controller="AdmissionsHSctrl" class="text-center">
                      <a dropdown-toggle="#dropdown_admissions_hs" class="button dropdown small bg-dropdown" style="width:200px">{{progSelected_hs}}</a>
                      <ul id="dropdown_admissions_hs" class="f-dropdown" style="width:300px">
                        <li ng-repeat="item_hs in itemsaddHS">
                          <a ng-click="changeprog_hs(item_hs.indice)">{{item_hs.texto}}</a>
                        </li>
                      </ul>
                      <br>
                    </div>
                </div>

            </div>


		</div>			
	</div>


			<div class="row profile_item">
				<div class="small-5 columns">
					<div class="profile_label">
						<span>Program</span>
						<a ng-click="go('/school/' +  school.id + '/glossary')" ng-href="#/school/{{school.id}}/glossary"><div class="info-perfil"></div></a>
					</div>
				</div>
				<div class="small-7 columns">
					<div class="profile_info">
						<span>{{hs_admissions.program_name}}</span>
		<div ng-controller="PopoverDemoCtrl">
    <div Popover-animation="true" popover="??????????????" popover-placement="left" class="icon-info" style="cursor:pointer"></div>
		</div>						
					</div>
				</div>
			</div>
			<div class="row profile_item">
				<div class="small-5 columns">
					<div class="profile_label">
						<span>Intesest Area</span>
						<a ng-click="go('/school/' +  school.id + '/glossary')" ng-href="#/school/{{school.id}}/glossary"><div class="info-perfil"></div></a>
					</div>
				</div>
				<div class="small-7 columns">
					<div class="profile_info">
						<span>{{hs_admissions.program_interest}}</span>
					</div>
				</div>
			</div>		
			<div class="row profile_item">
				<div class="small-5 columns">
					<div class="profile_label">
						<span>Method</span>
						<a ng-click="go('/school/' +  school.id + '/glossary')" ng-href="#/school/{{school.id}}/glossary"><div class="info-perfil"></div></a>
					</div>
				</div>
				<div class="small-7 columns">
					<div class="profile_info">
						<span>{{hs_admissions.admissions_method}}</span>
					</div>
				</div>
			</div>					
			<div class="row profile_item    {{hs_admissions.program_description | filtraCeros}}">
				<div class="small-5 columns">
					<div class="profile_label">
						<span>Description</span>
						<a ng-click="go('/school/' +  school.id + '/glossary')" ng-href="#/school/{{school.id}}/glossary"><div class="info-perfil"></div></a>
					</div>
				</div>
				<div class="small-7 columns">
					<div class="profile_info">
						<span>{{hs_admissions.program_description}}</span>
					</div>
				</div>
			</div>					
			<div class="row profile_item">
				<div class="small-12 medium-12 large-12 columns">
					<div class="profile_label">
						<span>Priorities</span>
					</div>
				</div>
			</div>
			<div class="row profile_item">
				<div class="small-12 medium-12 large-12 columns">
					<div class="profile_info">
						<span>{{hs_admissions.admision_priority}}</span>

		<div ng-controller="PopoverDemoCtrl">
    <div Popover-animation="true" popover="The order in which applicants are considered for placement. " popover-placement="left" class="icon-info" style="cursor:pointer"></div>
		</div>						
			
					</div>
				</div>
			</div>

			<div class="row profile_item">
				<div class="small-5 columns">
					<div class="profile_label">
						<span>Seats</span>
						<a ng-click="go('/school/' +  school.id + '/glossary')" ng-href="#/school/{{school.id}}/glossary"><div class="info-perfil"></div></a>
					</div>
				</div>
				<div class="small-7 columns">
					<div class="profile_info">
						<span>{{hs_admissions.9th_grade_seats_in_program}}</span>
					</div>
				</div>
			</div>	

			<div class="row profile_item">
				<div class="small-5 columns">
					<div class="profile_label">
						<span>Applicant</span>
						<a ng-click="go('/school/' +  school.id + '/glossary')" ng-href="#/school/{{school.id}}/glossary"><div class="info-perfil"></div></a>
					</div>
				</div>
				<div class="small-7 columns">
					<div class="profile_info">
						<span>{{hs_admissions.9th_grade_applicants_in_program}}</span>
					</div>
				</div>
			</div>									


			</div> <!-- FIN HS-->			


</div> <!-- FIN ALL -->			
    </section>

  <a class="exit-off-canvas"></a>

  </div>
</div>