<div class="off-canvas-wrap">
  <div class="inner-wrap">
    <nav class="tab-bar header">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
      </section>

      <section class="right tab-bar-section">
        <h1 class="title">{{ school.name }}</h1>
      </section>
    </nav>

    <div ng-include src="'templates/sidebar.html'"></div>
    
	<!--CONTENIDO-->
    <section class="main-section">
    
	<div class="row menu-header">	
		<div class="small-6 small-centered medium-6 large-6 columns">
			<h3 class="text-center">Test Scores</h3>
		</div>	
		<div class="small-10 small-centered medium-10 large-10 columns">		
			<div class="row">
				<div class="small-6  medium-6 large-6 columns">
					<div ng-controller="TestScoreYearddCtrl" class="text-center">
					  <a dropdown-toggle="#dropdown-year" class="button dropdown small bg-dropdown">{{selectedyear}}</a>
					  <ul id="dropdown-year" class="f-dropdown" style="width:100px">
					    <li ng-repeat="item in itemsYears">
					      <a ng-click="changeyear(item.indice)">{{item.texto}}</a>
					    </li>
					  </ul>
					  <br>
					</div>
				</div>

				<div class="small-6  medium-6 large-6 columns">
					<div ng-controller="TestScoreGradeddCtrl" class="text-center">
					  <a dropdown-toggle="#dropdown-grade" class="button dropdown small bg-dropdown">{{selectedgrade}}</a>
					  <ul id="dropdown-grade" class="f-dropdown" style="width:100px">
					    <li ng-repeat="item in itemsGrades">
					      <a ng-click="changegrade(item.indice)">{{item.texto}}</a>
					    </li>
					  </ul>
					  <br>
					</div>
				</div>	

			</div>
		</div>	
	</div>		
	
	<div class="row">

<div ng-controller="AccordionDemoCtrl">
  <!--<label class="checkbox">
    <input type="checkbox" ng-model="oneAtATime">
    Open only one at a time
  </label>-->

  <accordion close-others="oneAtATime">
    <accordion-group heading="ELA Scores" is-open="true">      

		<!-- MATH -->
		<div class="row">
			<div ng-repeat="(key_ela,val_ela) in testScore_ela" class="small-12 medium-12 large-12 columns barra-blanca">
    			<div class="porcentaje" style="width:{{val_ela}}%;">
    				<p>{{val_ela}}%</p>
    				<itemsurvey><span>{{key_ela | GeneraNombreTestScore}}</span></itemsurvey>
    			</div>

    		</div>
    	</div>

	</accordion-group>

	<accordion-group heading="Math Scores" is-open="true">

		<!-- ELA -->
		<div class="row">
			<div ng-repeat="(key_math,val_math) in testScore_math" class="small-12 medium-12 large-12 columns barra-blanca">
    			<div class="porcentaje" style="width:{{val_math}}%;">
    				<p>{{val_math}}%</p>
    				<itemsurvey><span>{{key_math | GeneraNombreTestScore}}</span></itemsurvey>
    			</div>
    			
    		</div>
    	</div>
    </accordion-group>

</accordion>

</div> <!-- acordion -->

</div> <!-- row -->

	<!--
	<div class="row">
		<div class="small-12 medium-12 large-12 columns">	
			<dl class="accordion" data-accordion>
			  <dd>
			    <a href="#panel1">SAT <img src="img/arrow-down.png" class="right"></a>
			    <div id="panel1" class="content active">
			    	<div class="row">
			    		<div class="small-12 medium-12 large-12 columns barra-blanca">
			    			<div class="porcentaje" style="width:60%;">
			    				<p>60%</p>
			    				<itemsurvey><span>Overall</span></itemsurvey>
			    			</div>
			    			<div class="metrics">
								<div class="average" style="width:50;">
				    				<small>Number of Students: 50</small>
								</div>			    			
			    			</div>
			    		</div>
			    		<div class="small-12 medium-12 large-12 columns barra-blanca">
			    			<div class="porcentaje" style="width:34%;">
			    				<p>34%</p>
			    				<itemsurvey><span>Math</span></itemsurvey>
			    			</div>
			    			<div class="metrics">
								<div class="average" style="width:50;">
				    				<small>Number of Students: 50</small>
								</div>			    			
			    			</div>
			    		</div>	
			    		<div class="small-12 medium-12 large-12 columns barra-blanca">
			    			<div class="porcentaje" style="width:70%;">
			    				<p>70%</p>
			    				<itemsurvey><span>Reading</span></itemsurvey>
			    			</div>
			    			<div class="metrics">
								<div class="average" style="width:50;">
				    				<small>Number of Students: 50</small>
								</div>			    			
			    			</div>
			    		</div>		
			    		<div class="small-12 medium-12 large-12 columns barra-blanca">
			    			<div class="porcentaje" style="width:60%;">
			    				<p>60%</p>
			    				<itemsurvey><span>Critial Reasoning</span></itemsurvey>
			    			</div>
			    			<div class="metrics">
								<div class="average" style="width:50;">
				    				<small>Number of Students: 50</small>
								</div>			    			
			    			</div>
			    		</div>			    			    				    		
			    	</div>
			    </div>
			  </dd>
			  <dd>
			    <a href="#panel2">Regents Pass Rate <img src="img/arrow-down.png" class="right"></a>		    
			    <div id="panel2" class="content">
			    	<div class="row">
			    		<div class="small-12 medium-12 large-12 columns barra-blanca">
			    			<div class="porcentaje" style="width:60%;">
			    				<p>60%</p>
			    				<itemsurvey><span>English</span></itemsurvey>
			    			</div>
			    			<div class="metrics">
								<div class="average" style="width:50%;">
				    				<small>City Average: 50%</small>
								</div>			    			
				    			<div class="rank">
				    				<p>Rank <barra>◼︎◼︎◻︎◻︎</barra> > Avg.</p>
				    			</div>
			    			</div>
			    		</div>
			    		<div class="small-12 medium-12 large-12 columns barra-blanca">
			    			<div class="porcentaje" style="width:34%;">
			    				<p>34%</p>
			    				<itemsurvey><span>US Hisotry</span></itemsurvey>
			    			</div>
			    			<div class="metrics">
								<div class="average" style="width:50%;">
				    				<small>City Average: 50%</small>
								</div>			    			
				    			<div class="rank">
				    				<p>Rank <barra>◼︎◼︎◻︎◻︎</barra> > Avg.</p>
				    			</div>
			    			</div>
			    		</div>	
			    		<div class="small-12 medium-12 large-12 columns barra-blanca">
			    			<div class="porcentaje" style="width:70%;">
			    				<p>70%</p>
			    				<itemsurvey><span>Living Environment</span></itemsurvey>
			    			</div>
			    			<div class="metrics">
								<div class="average" style="width:50%;">
				    				<small>City Average: 50%</small>
								</div>			    			
				    			<div class="rank">
				    				<p>Rank <barra>◼︎◼︎◻︎◻︎</barra> > Avg.</p>
				    			</div>
			    			</div>
			    		</div>		
			    		<div class="small-12 medium-12 large-12 columns barra-blanca">
			    			<div class="porcentaje" style="width:60%;">
			    				<p>60%</p>
			    				<itemsurvey><span>Earth Science</span></itemsurvey>
			    			</div>
			    			<div class="metrics">
								<div class="average" style="width:50%;">
				    				<small>City Average: 50%</small>
								</div>			    			
				    			<div class="rank">
				    				<p>Rank <barra>◼︎◼︎◻︎◻︎</barra> > Avg.</p>
				    			</div>
			    			</div>
			    		</div>	
			    		<div class="small-12 medium-12 large-12 columns barra-blanca">
			    			<div class="porcentaje" style="width:60%;">
			    				<p>60%</p>
			    				<itemsurvey><span>Chemistry</span></itemsurvey>
			    			</div>
			    			<div class="metrics">
								<div class="average" style="width:50%;">
				    				<small>City Average: 50%</small>
								</div>			    			
				    			<div class="rank">
				    				<p>Rank <barra>◼︎◼︎◻︎◻︎</barra> > Avg.</p>
				    			</div>
			    			</div>
			    		</div>
			    		<div class="small-12 medium-12 large-12 columns barra-blanca">
			    			<div class="porcentaje" style="width:60%;">
			    				<p>60%</p>
			    				<itemsurvey><span>Physics</span></itemsurvey>
			    			</div>
			    			<div class="metrics">
								<div class="average" style="width:50%;">
				    				<small>City Average: 50%</small>
								</div>			    			
				    			<div class="rank">
				    				<p>Rank <barra>◼︎◼︎◻︎◻︎</barra> > Avg.</p>
				    			</div>
			    			</div>
			    		</div>	
			    		<div class="small-12 medium-12 large-12 columns barra-blanca">
			    			<div class="porcentaje" style="width:60%;">
			    				<p>60%</p>
			    				<itemsurvey><span>Integrated Algebra</span></itemsurvey>
			    			</div>
			    			<div class="metrics">
								<div class="average" style="width:50%;">
				    				<small>City Average: 50%</small>
								</div>			    			
				    			<div class="rank">
				    				<p>Rank <barra>◼︎◼︎◻︎◻︎</barra> > Avg.</p>
				    			</div>
			    			</div>
			    		</div>	
			    		<div class="small-12 medium-12 large-12 columns barra-blanca">
			    			<div class="porcentaje" style="width:60%;">
			    				<p>60%</p>
			    				<itemsurvey><span>Geometry</span></itemsurvey>
			    			</div>
			    			<div class="metrics">
								<div class="average" style="width:50%;">
				    				<small>City Average: 50%</small>
								</div>			    			
				    			<div class="rank">
				    				<p>Rank <barra>◼︎◼︎◻︎◻︎</barra> > Avg.</p>
				    			</div>
			    			</div>
			    		</div>	
			    		<div class="small-12 medium-12 large-12 columns barra-blanca">
			    			<div class="porcentaje" style="width:60%;">
			    				<p>60%</p>
			    				<itemsurvey><span>Algebra II</span></itemsurvey>
			    			</div>
			    			<div class="metrics">
								<div class="average" style="width:50%;">
				    				<small>City Average: 50%</small>
								</div>			    			
				    			<div class="rank">
				    				<p>Rank <barra>◼︎◼︎◻︎◻︎</barra> > Avg.</p>
				    			</div>
			    			</div>
			    		</div>				    					    					    					    			
			    	</div>
			    </div>
			  </dd>
			  <dd>
			    <a href="#panel3">Regents Average <img src="img/arrow-down.png" class="right"></a>		    
			    <div id="panel3" class="content">
			    	<div class="row">
			    		<div class="small-12 medium-12 large-12 columns barra-blanca">
			    			<div class="porcentaje" style="width:60%;">
			    				<p>60%</p>
			    				<itemsurvey><span>Overall</span></itemsurvey>
			    			</div>
			    			<div class="metrics">
								<div class="average" style="width:50%;">
				    				<small>City Average: 50%</small>
								</div>			    			
				    			<div class="rank">
				    				<p>Rank <barra>◼︎◼︎◻︎◻︎</barra> > Avg.</p>
				    			</div>
			    			</div>
			    		</div>
			    		<div class="small-12 medium-12 large-12 columns barra-blanca">
			    			<div class="porcentaje" style="width:34%;">
			    				<p>34%</p>
			    				<itemsurvey><span>Math</span></itemsurvey>
			    			</div>
			    			<div class="metrics">
								<div class="average" style="width:50%;">
				    				<small>City Average: 50%</small>
								</div>			    			
				    			<div class="rank">
				    				<p>Rank <barra>◼︎◼︎◻︎◻︎</barra> > Avg.</p>
				    			</div>
			    			</div>
			    		</div>	
			    		<div class="small-12 medium-12 large-12 columns barra-blanca">
			    			<div class="porcentaje" style="width:70%;">
			    				<p>70%</p>
			    				<itemsurvey><span>Reading</span></itemsurvey>
			    			</div>
			    			<div class="metrics">
								<div class="average" style="width:50%;">
				    				<small>City Average: 50%</small>
								</div>			    			
				    			<div class="rank">
				    				<p>Rank <barra>◼︎◼︎◻︎◻︎</barra> > Avg.</p>
				    			</div>
			    			</div>
			    		</div>		
			    		<div class="small-12 medium-12 large-12 columns barra-blanca">
			    			<div class="porcentaje" style="width:60%;">
			    				<p>60%</p>
			    				<itemsurvey><span>Critial Reasoning</span></itemsurvey>
			    			</div>
			    			<div class="metrics">
								<div class="average" style="width:50%;">
				    				<small>City Average: 50%</small>
								</div>			    			
				    			<div class="rank">
				    				<p>Rank <barra>◼︎◼︎◻︎◻︎</barra> > Avg.</p>
				    			</div>
			    			</div>
			    		</div>	
			    	</div>
			    </div>
			  </dd>		  
			</dl>
		</div>
	</div>	-->





    </section>
    <!--END.CONTENIDO-->

  <a class="exit-off-canvas"></a>

  </div>
</div>