<div class="off-canvas-wrap">
  <div class="inner-wrap">
    <nav class="tab-bar header">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
      </section>

      <section class="right tab-bar-section">
        <h1 class="title">{{ school.name }}</h1>
      </section>
    </nav>

    <div ng-include src="'templates/sidebar.html'"></div>
    
	<!--CONTENIDO-->
    <section class="main-section">
    
	<div class="row menu-header">	
		<div class="small-6 small-centered medium-6 large-6 columns">
			<h3 class="text-center">Evaluations</h3>
		</div>	
		<div class="small-10 small-centered medium-10 large-10 columns">		
			<div class="row">

				<div class="small-6 small-centered  medium-6 large-6 columns">
			<div ng-controller="EvaluationsDropdownCtrl" class="text-center">
			  <a dropdown-toggle="#dropdown-Evaluations" class="button dropdown small bg-dropdown">{{selectedyearEvaluations}}</a>
			  <ul id="dropdown-Evaluations" class="f-dropdown" style="width:100px">
			    <li ng-repeat="item in itemsddEvaluations">
			      <a ng-click="changeyear(item.indice)">{{item.texto}}</a>
			    </li>
			  </ul>
			  <br>
			  <br>
			</div>

				</div>			
			</div>
		</div>	
	</div>		
	
	<div class="row">
		<div ng-controller="AccordionDemoCtrl">

		  <accordion close-others="oneAtATime">

		    <accordion-grouptwo heading="Progress Report" is-open="true">  

			    	<div class="row">

	<div class="small-12 medium-12 large-12 columns barra-blanca bg-tablas-data  {{proficiency_ratings.es_ms_k8_ec_overal_pr_pr | filtraCeros}}">
    			<div class="porcentaje " style="width:{{proficiency_ratings.es_ms_k8_ec_overal_pr_pr}}%;">
    				<p><b>{{proficiency_ratings.es_ms_k8_ec_overal_pr_pr | filtraOverallEvaluations}} </b></p>
    				<itemsurvey><span>Overall</span></itemsurvey>
    			</div>
    		<!--	<div class="metrics">
					<div class="average" style="width:50%;">
	    				<small>City Average: 50%</small>
					</div>			    			
	    			<div class="rank">
	    				<p>Rank <barra>◼︎◼︎◻︎◻︎</barra> > Avg.</p>
	    			</div>
    			</div> -->
	</div>

	<div class="small-12 medium-12 large-12 columns barra-blanca bg-tablas-data  {{proficiency_ratings.es_ms_k8_ec_student_performance_pr_pr | filtraCeros}}">
		    	<div class="porcentaje " style="width:{{proficiency_ratings.es_ms_k8_ec_student_performance_pr_pr}}%;">
		    				<p>{{proficiency_ratings.es_ms_k8_ec_student_performance_pr_pr | number:1}}%</p>
		    				<itemsurvey><span>Performance</span></itemsurvey>
    			</div>
    	<!--		<div class="metrics">
					<div class="average" style="width:50%;">
	    				<small>City Average: 50%</small>
					</div>			    			
	    			<div class="rank">
	    				<p>Rank <barra>◼︎◼︎◻︎◻︎</barra> > Avg.</p>
	    			</div>
	    			<a href="glosary.html"><div class="info"></div></a>
    			</div> -->
	</div>	

			    		<div class="small-12 medium-12 large-12 columns barra-blanca bg-tablas-data  {{proficiency_ratings.es_ms_k8_ec_student_progress_pr_score_pr | filtraCeros}}">
			    <div class="porcentaje " style="width:{{proficiency_ratings.es_ms_k8_ec_student_progress_pr_score_pr}}%;">
			    				<p>{{proficiency_ratings.es_ms_k8_ec_student_progress_pr_score_pr | number:1}}%</p>
			    				<itemsurvey><span>Progress</span></itemsurvey>
			    			</div>
			    	<!--		<div class="metrics">
								<div class="average" style="width:50%;">
				    				<small>City Average: 50%</small>
								</div>			    			
				    			<div class="rank">
				    				<p>Rank <barra>◼︎◼︎◻︎◻︎</barra> > Avg.</p>
				    			</div>
			    			</div>-->
			    		</div> 

			    		<div class="small-12 medium-12 large-12 columns barra-blanca bg-tablas-data  {{proficiency_ratings.es_ms_k8_ec_scholl_environment_pr_pr | filtraCeros}}">
			   <div class="porcentaje " style="width:{{proficiency_ratings.es_ms_k8_ec_scholl_environment_pr_pr}}%;">
			    				<p>{{proficiency_ratings.es_ms_k8_ec_scholl_environment_pr_pr | number:1}}%</p>
			    				<itemsurvey><span>Environment</span></itemsurvey>
			    			</div>
			  <!--  			<div class="metrics">
								<div class="average" style="width:50%;">
				    				<small>City Average: 50%</small>
								</div>			    			
				    			<div class="rank">
				    				<p>Rank <barra>◼︎◼︎◻︎◻︎</barra> > Avg.</p>
				    			</div>
			    			</div>-->
			    		</div> 

			    	

			    <!--Fin ES -->

			    <!--Inicio HS -->

			    <div class="small-12 medium-12 large-12 columns barra-blanca bg-tablas-data  {{proficiency_ratings.hs_t_hs_overall_pr_pr | filtraCeros}}">
			   <div class="porcentaje " style="width:{{proficiency_ratings.hs_t_hs_overall_pr_pr}}%;">
			    				<p>{{proficiency_ratings.hs_t_hs_overall_pr_pr | number:1}}%</p>
			    				<itemsurvey><span>Overall - HS</span></itemsurvey>
			    			</div>
			    	<!--		<div class="metrics">
								<div class="average" style="width:50%;">
				    				<small>City Average: 50%</small>
								</div>			    			
				    			<div class="rank">
				    				<p>Rank <barra>◼︎◼︎◻︎◻︎</barra> > Avg.</p>
				    			</div>
			    			</div> -->
			    		</div>

			    <div class="small-12 medium-12 large-12 columns barra-blanca bg-tablas-data  {{proficiency_ratings.hs_t_hs_student_performance_pr_pr | filtraCeros}}">
			   <div class="porcentaje " style="width:{{proficiency_ratings.hs_t_hs_student_performance_pr_pr}}%;">
			    				<p>{{proficiency_ratings.hs_t_hs_student_performance_pr_pr | number:1}}%</p>
			    				<itemsurvey><span>Performance - HS</span></itemsurvey>
			    			</div>
			    <!--			<div class="metrics">
								<div class="average" style="width:50%;">
				    				<small>City Average: 50%</small>
								</div>			    			
				    			<div class="rank">
				    				<p>Rank <barra>◼︎◼︎◻︎◻︎</barra> > Avg.</p>
				    			</div>
			    			</div> -->
			    		</div>

			    <div class="small-12 medium-12 large-12 columns barra-blanca bg-tablas-data  {{proficiency_ratings.hs_t_hs_student_progress_pr_pr | filtraCeros}}">
			   <div class="porcentaje " style="width:{{proficiency_ratings.hs_t_hs_student_progress_pr_pr}}%;">
			    				<p>{{proficiency_ratings.hs_t_hs_student_progress_pr_pr | number:1}}%</p>
			    				<itemsurvey><span>Progress - HS</span></itemsurvey>
			    			</div>
			    <!--			<div class="metrics">
								<div class="average" style="width:50%;">
				    				<small>City Average: 50%</small>
								</div>			    			
				    			<div class="rank">
				    				<p>Rank <barra>◼︎◼︎◻︎◻︎</barra> > Avg.</p>
				    			</div>
			    			</div> -->
			    		</div>

			    <div class="small-12 medium-12 large-12 columns barra-blanca bg-tablas-data  {{proficiency_ratings.hs_t_hs_school_environment_pr_pr | filtraCeros}}">
			   <div class="porcentaje " style="width:{{proficiency_ratings.hs_t_hs_school_environment_pr_pr}}%;">
			    				<p>{{proficiency_ratings.hs_t_hs_school_environment_pr_pr | number:1}}%</p>
			    				<itemsurvey><span>Environment - HS</span></itemsurvey>
			    			</div>
			    <!--			<div class="metrics">
								<div class="average" style="width:50%;">
				    				<small>City Average: 50%</small>
								</div>			    			
				    			<div class="rank">
				    				<p>Rank <barra>◼︎◼︎◻︎◻︎</barra> > Avg.</p>
				    			</div>
			    			</div> -->
			    		</div>

			    <div class="small-12 medium-12 large-12 columns barra-blanca bg-tablas-data  {{proficiency_ratings.hs_t_hs_college_carrer_pr_pr | filtraCeros}}">
			   <div class="porcentaje " style="width:{{proficiency_ratings.hs_t_hs_college_carrer_pr_pr}}%;">
			    				<p>{{proficiency_ratings.hs_t_hs_college_carrer_pr_pr | number:1}}%</p>
			    				<itemsurvey><span>Career Readiness -HS</span></itemsurvey>
			    			</div>
			 <!--   			<div class="metrics">
								<div class="average" style="width:50%;">
				    				<small>City Average: 50%</small>
								</div>			    			
				    			<div class="rank">
				    				<p>Rank <barra>◼︎◼︎◻︎◻︎</barra> > Avg.</p>
				    			</div>
			    			</div>-->
			    		</div>

			</div>

			    </accordion-grouptwo>


			    <accordion-grouptwo heading="Quality Review" is-open="true">  

			    	<div class="row">

			    		<div class="small-12 medium-12 large-12 columns barra-blanca bg-tablas-data  {{evaluation_ratings.quality_review_rating | filtraCeros}}">
			    			<div class="porcentaje" style="width:50%;">
			    				<p>{{evaluation_ratings.quality_review_rating}}</p>
			    				<itemsurvey><span>Quality Review Rating</span>
			    				</itemsurvey>
			    			</div>
			    		</div>

			    		<div class="small-12 medium-12 large-12 columns barra-blanca bg-tablas-data  {{evaluation_ratings.ri_11 | filtraCeros}}">
			    			<div class="porcentaje" style="width:50%;">
			    				<p>{{evaluation_ratings.ri_11}}</p>
			    				<itemsurvey>
		<div ng-controller="PopoverDemoCtrl">
    <div Popover-animation="true" popover="Measures the rigor and coherence of school curricula in all subjects with a close examination of consistency and access for all students across grades and subject areas." popover-placement="left" class="icon-info" style="cursor:pointer"></div>
		</div>
			    				<span class="con-info">Curriculum</span></itemsurvey>
			    			</div>
			    		</div>

			    		<div class="small-12 medium-12 large-12 columns barra-blanca bg-tablas-data  {{evaluation_ratings.ri_12 | filtraCeros}}">
			    			<div class="porcentaje" style="width:50%;">
			    				<p>{{evaluation_ratings.ri_12}}</p>
			    				<itemsurvey><span class="con-info">Pedagogy</span>
		<div ng-controller="PopoverDemoCtrl">
    <div Popover-animation="true" popover="Measures the effectiveness of instruction across classrooms by looking at the quality of student work products and student discussion." popover-placement="left" class="icon-info" style="cursor:pointer"></div>
		</div>
			    				</itemsurvey>
			    			</div>
			    		</div>	

			    		<div class="small-12 medium-12 large-12 columns barra-blanca bg-tablas-data  {{evaluation_ratings.ri_14 | filtraCeros}}">
			    			<div class="porcentaje" style="width:50%;">
			    				<p>{{evaluation_ratings.ri_14}}</p>
			    				<itemsurvey><span class="con-info">Positive Learning Environment</span>
		<div ng-controller="PopoverDemoCtrl">
    <div Popover-animation="true" popover="Measures the quality of school culture and environment including safety, inclusiveness and other student success supports." popover-placement="left" class="icon-info" style="cursor:pointer"></div>
		</div>
			    				</itemsurvey>
			    			</div>
			    		</div>

			    		<div class="small-12 medium-12 large-12 columns barra-blanca bg-tablas-data  {{evaluation_ratings.ri_34 | filtraCeros}}">
			    			<div class="porcentaje" style="width:50%;">
			    				<p>{{evaluation_ratings.ri_34}}</p>
			    				<itemsurvey><span class="con-info">High expectations</span>
		<div ng-controller="PopoverDemoCtrl">
    <div Popover-animation="true" popover="Measures how effectively the school establishes a culture for learning that communicates high expectations to students, families, and staff and provides support towards students’ next steps." popover-placement="left" class="icon-info" style="cursor:pointer"></div>
		</div>
			    				</itemsurvey>
			    			</div>
			    		</div>


			    	</div>

			    	</accordion-grouptwo>
			    </accordion>
	
			</div>		
	</div>	
    </section>
    <!--END.CONTENIDO-->

  <a class="exit-off-canvas"></a>

  </div>
</div>