<section class="disclaimer">
	<div class="row">
		<div class="small-10 small-centered text-center columns">
			<h1>{{'Disclaimer' | translateMain}}</h1>
			<p> {{'This application is not a product of the NYC Department of Education and is not endorsed by the NYCDOE. NYCDOE is not responsible for the accuracy of the content of the application. Use of this application is not a requirement of NYCDOE admissions.' | translateMain}}</p>
		</div>

		<a onclick="window.history.back()" class="btn_back"><p class="text-left"> &lt; Back</p></a>
	</div>
</section>