<div class="off-canvas-wrap">
  <div class="inner-wrap">
    <nav class="tab-bar header">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
      </section>

      <section class="right tab-bar-section middle-vertical">
        <h1 class="title">{{ school.name }}</h1>
      </section>
    </nav>

    <div ng-include src="'templates/sidebar.html'"></div>
    
	<!--CONTENIDO-->
    <section class="main-section">
			<div class="row menu-header">
				<div class="small-offset-5 small-7 medium-7 large-7 columns">
					<h3>Glossary</h3>
				</div>					
			</div> 	 
			
<div class="row">
	<div ng-controller="AccordionDemoCtrl">

	  	<accordion close-others="oneAtATime">

		    <accordion-group  is-open="false">
        <accordion-heading>
            <div id="grilla_10_01_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">District</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_01" ></div>
        </accordion-heading>   
			    	<div class="glossary">
			    		<p>The geographic district in which the school is located.  Note that all charter schools are assigned to District 84 regardless of geographic location. </p>
			    	</div>
			</accordion-group>

		    <accordion-group  is-open="false">
        <accordion-heading>
            <div id="grilla_10_02_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Total Enrollment</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_02" ></div>
        </accordion-heading>  

			    	<div class="glossary">
			    		<p>The total number of students who are enrolled in the school as of October 31 of the selected school year. </p>
			    	</div>
			</accordion-group>

		    <accordion-group  is-open="false"> 
        <accordion-heading>
            <div id="grilla_10_03_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Shared Site</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_03" ></div>
        </accordion-heading>		     
			    	<div class="glossary">
			    		<p>Whether the school is co-located with at least one other school in a shared building.</p>
			    	</div>
			</accordion-group>

		    <accordion-group  is-open="false">  
        <accordion-heading>
            <div id="grilla_10_04_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Year Opened</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_04" ></div>
        </accordion-heading>		    
			    	<div class="glossary">
			    		<p>The first school year that the school was open.</p>
			    	</div>
			</accordion-group>

		    <accordion-group  is-open="false">  
        <accordion-heading>
            <div id="grilla_10_51_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">English Language Learners</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_51" ></div>
        </accordion-heading>		    
			    	<div class="glossary">
			    		<p>Percent of students that have been identified based on an initial language assessment and who have not passed the New York State English as a Second Language Achievement Test (NYSESLAT).</p>
			    	</div>
			</accordion-group>

		    <accordion-group  is-open="false">  
        <accordion-heading>
            <div id="grilla_10_52_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)"> Free/Reduced Lunch </div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_52" ></div>
        </accordion-heading>		    
			    	<div class="glossary">
			    		<p>Percentage of students with families who have qualified for the Free or Reduced-Price Lunch program or if the student is enrolled in a Universal Meal School (where all students automatically qualify).</p>
			    	</div>
			</accordion-group>

		    <accordion-group  is-open="false">  
        <accordion-heading>
            <div id="grilla_10_53_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Students with Disabilities</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_53" ></div>
        </accordion-heading>		    
			    	<div class="glossary">
			    		<p>Percentage of students receiving an Individualized Education Plan (IEP) as of the end of the school year.</p>
			    	</div>
			</accordion-group>
									
		    <accordion-group is-open="false"> 
        <accordion-heading>
            <div id="grilla_10_05_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Enrollment</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_05" ></div>
        </accordion-heading>	 
			    	<div class="glossary">
			    		<p>The total number of students who are enrolled in each grade of the school as of October 31 of the current school year.</p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="false">  
        <accordion-heading>
            <div id="grilla_10_06_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Program</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_06" ></div>
        </accordion-heading>			    
			    	<div class="glossary">
			    		<p>When applying to middle and high schools, students apply to programs within schools. Programs may have different interest or focus areas as well as admissions methods.</p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="false">  
        <accordion-heading>
            <div id="grilla_10_07_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Interest Area</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_07" ></div>
        </accordion-heading>		    
			    	<div class="glossary">
			    		<p>A program’s interest area may indicate a general, comprehensive academic program (Humanities & Interdisciplinary or Zoned, for example), while other interest areas emphasize a particular industry (like Architecture or Engineering). Although every high school program is associated with a particular interest area, all New York City students are required to take a variety of courses in order to graduate.</p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="false">  
        <accordion-heading>
            <div id="grilla_10_08_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Program Focus</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_08" ></div>
        </accordion-heading>		    
			    	<div class="glossary">
			    		<p>A program’s focus area may indicate a general, comprehensive academic program (Humanities & Interdisciplinary or Zoned, for example), while other interest areas emphasize a particular industry (like Architecture or Engineering). </p>
			    	</div>
			</accordion-group>						

		    <accordion-group is-open="false">  
        <accordion-heading>
            <div id="grilla_10_09_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Priority</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_09" ></div>
        </accordion-heading>			    
			    	<div class="glossary">
			    		<p>The order in which applicants are considered for placement.</p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="false">  
        <accordion-heading>
            <div id="grilla_10_10_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Method</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_10" ></div>
        </accordion-heading>			    
			    	<div class="glossary">
			    		<p>The way schools consider and admit applicants into a program.</p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="false">  
        <accordion-heading>
            <div id="grilla_10_11_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Seats</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_11" ></div>
        </accordion-heading>			    
			    	<div class="glossary">
			    		<p>Number of seats in a program that were available to students applying for September of the selected year.</p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="false">  
        <accordion-heading>
            <div id="grilla_10_12_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Applicants</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_12" ></div>
        </accordion-heading>			    
			    	<div class="glossary">
			    		<p>Total number of students who applied for admission to a program in the September of the selected year.</p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="false">  
        <accordion-heading>
            <div id="grilla_10_54_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Progress Report- Overall Grade</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_54" ></div>
        </accordion-heading>			    
			    	<div class="glossary">
			    		<p>The Progress Report measures students’ year-to-year progress, compares the school to other schools with similar students, and rewards success in moving all children forward, especially those with the highest needs (i.e., students with disabilities, English language learners, students with the lowest third incoming proficiency citywide, and black and Hispanic males). Overall Progress Report grades, which range from A to F, are based on the scores of multiple sections.  In each section, a school's results are compared to the results of “peer” schools serving similar students and to all schools citywide.</p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="false">  
        <accordion-heading>
            <div id="grilla_10_55_up" class="grillaAcordion_srd" onclick="rotarGrilla_g(this.id)">Progress Report- Progress Subgrade (ES/MS)</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_55" ></div>
        </accordion-heading>			    
			    	<div class="glossary">
			    		<p>Based on how much individual students improved on State tests in English Language Arts and Math compared to other students in the City.</p>
			    	</div>
			</accordion-group>


		    <accordion-group is-open="false">  
        <accordion-heading>
            <div id="grilla_10_56_up" class="grillaAcordion_srd" onclick="rotarGrilla_g(this.id)">Progress Report- Progress Subgrade (HS)</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_56" ></div>
        </accordion-heading>			    
			    	<div class="glossary">
			    		<p>Based on the annual progress students make toward meeting the State's graduation requirements by earning course credits and passing Regents exams.</p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="false">  
        <accordion-heading>
            <div id="grilla_10_57_up" class="grillaAcordion_srd" onclick="rotarGrilla_g(this.id)">Progress Report- Performance Subgrade (ES/MS)</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_57" ></div>
        </accordion-heading>			    
			    	<div class="glossary">
			    		<p>Based on student results on the State tests in English Language Arts and Math. Middle school scores also take students passing core courses into account.</p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="false">  
        <accordion-heading>
            <div id="grilla_10_58_up" class="grillaAcordion_srd" onclick="rotarGrilla_g(this.id)">Progress Report- Performance Subgrade (HS)</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_58" ></div>
        </accordion-heading>			    
			    	<div class="glossary">
			    		<p>Based on how many students graduated within 4 and 6 years of starting high school  and the types of diplomas they earned.</p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="false">  
        <accordion-heading>
            <div id="grilla_10_59_up" class="grillaAcordion_srd" onclick="rotarGrilla_g(this.id)">Progress Report- Environment Subgrade</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_59" ></div>
        </accordion-heading>			    
			    	<div class="glossary">
			    		<p>Based on student attendance and the results of the school's NYC School Survey.</p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="false">  
        <accordion-heading>
            <div id="grilla_10_60_up" class="grillaAcordion_srd" onclick="rotarGrilla_g(this.id)">Progress Report- College and Career Subgrade</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_60" ></div>
        </accordion-heading>			    
			    	<div class="glossary">
			    		<p>Measures the ability of a school to prepare its students for success in college and career on the basis of passing advanced courses, meeting proficiency standards and enrolling in a post-secondary institution.  </p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="false">  
        <accordion-heading>
            <div id="grilla_10_13_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Survey</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_13" ></div>
        </accordion-heading>			    
			    	<div class="glossary">
			    		<p>The NYC School Survey is administered annually to all parents, all teachers, and students in grades 6 - 12.  Survey results provide insight into a school's learning environment and assess the community's opinions on academic expectations, communication, engagement, and safety and respect.</p>
			    	</div>
			</accordion-group>

		    <accordion-group  is-open="false">  
        <accordion-heading>
            <div id="grilla_10_16_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Response Rates</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_16" ></div>
        </accordion-heading>		    
			    	<div class="glossary">
			    		<p>Percentage of eligible parents, teachers and students in grades 6-12 who responded to the NYC School Survey.</p>
			    	</div>
			</accordion-group>

		    <accordion-group  is-open="false">  
        <accordion-heading>
            <div id="grilla_10_17_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Academic Expectations</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_17" ></div>
        </accordion-heading>			    
			    	<div class="glossary">
			    		<p>Measures whether respondents feel that the school encourages students to do their best by developing rigorous and meaningful academic goals.</p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="false">  
        <accordion-heading>
            <div id="grilla_10_18_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Communication</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_18" ></div>
        </accordion-heading>		    
			    	<div class="glossary">
			    		<p>Measures whether respondents feel that the school provides them with information about the school’s educational goals and offers appropriate feedback on each student’s learning outcomes. </p>
			    	</div>
			</accordion-group>

		    <accordion-group  is-open="false">  
        <accordion-heading>
            <div id="grilla_10_19_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Engagement</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_19" ></div>
        </accordion-heading>			    
			    	<div class="glossary">
			    		<p>Measures whether respondents feel engaged in an active and vibrant partnership to promote student learning.</p>
			    	</div>
			</accordion-group>

		    <accordion-group  is-open="false">  
        <accordion-heading>
            <div id="grilla_10_20_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Safety and Respect</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_20" ></div>
        </accordion-heading>			    
			    	<div class="glossary">
			    		<p>Measures whether respondents feel that the school creates a physically and emotionally secure environment in which everyone can focus on student learning.</p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="false">
        <accordion-heading>
            <div id="grilla_10_21_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Attendance Rate</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_21" ></div>
        </accordion-heading>		      
			    	<div class="glossary">
			    		<p>Includes the attendance days for all students on a school’s register at any point during the regular school year (September through June). Calculated by adding the total number of days attended by all students and dividing it by the total number of days on register for all students.</p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="false">  
        <accordion-heading>
            <div id="grilla_10_22_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Quality Review</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_22" ></div>
        </accordion-heading>		    
			    	<div class="glossary">
			    		<p>A two- or three-day school visit by an experienced educator to evaluate how well the school is organized to support student achievement. The overall rating is based on three major categories: instruction that prepares students for college and careers, school organization and management, and quality of the learning environment.</p>
			    	</div>
			</accordion-group>
<!-- inicio -->
		    <accordion-group is-open="false">  
        <accordion-heading>
            <div id="grilla_10_23_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">W (Quality Review Rating)</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_23" ></div>
        </accordion-heading>		    
			    	<div class="glossary">
			    		<p>Well Developed – This is the highest rating a school can earn on the Quality Review.  It indicates highly effective teaching and learning practice, strategic school management, and an excellent quality learning environment.</p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="false">  
        <accordion-heading>
            <div id="grilla_10_24_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">P (Quality Review Rating)</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_24" ></div>
        </accordion-heading>		    
			    	<div class="glossary">
			    		<p>Proficient - A Proficient rating typically indicates solid teaching and learning practices, effective school management, and a high quality learning environment.</p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="false">  
        <accordion-heading>
            <div id="grilla_10_25_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">D (Quality Review Rating)</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_25" ></div>
        </accordion-heading>		    
			    	<div class="glossary">
			    		<p>Developing – A Developing rating may indicate inconsistent teaching and learning practices and is working towards effective school management and a more positive learning environment. </p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="false">  
        <accordion-heading>
            <div id="grilla_10_26_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">U (Quality Review Rating)</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_26" ></div>
        </accordion-heading>		    
			    	<div class="glossary">
			    		<p>Underdeveloped - An Underdeveloped rating may indicate a failure to deliver effective teaching and learning practices, demonstrate effective school management and provide a high quality learning environment. </p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="false">  
        <accordion-heading>
            <div id="grilla_10_27_up" class="grillaAcordion_srd" onclick="rotarGrilla_g(this.id)">1.1 Curriculum (Quality Review Indicator)</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_27" ></div>
        </accordion-heading>		    
			    	<div class="glossary">
			    		<p>Measures the rigor and coherence of school curricula in all subjects with a close examination of consistency and access for all students across grades and subject areas.</p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="false">  
        <accordion-heading>
            <div id="grilla_10_28_up" class="grillaAcordion_srd" onclick="rotarGrilla_g(this.id)">1.2 Pedagogy (Quality Review Indicator)</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_28" ></div>
        </accordion-heading>		    
			    	<div class="glossary">
			    		<p>Measures the effectiveness of instruction across classrooms by looking at the quality of student work products and student discussion.</p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="false">  
        <accordion-heading>
            <div id="grilla_10_29_up" class="grillaAcordion_srd" onclick="rotarGrilla_g(this.id)">1.4 Positive Learning Environment (Quality Review Indicator)</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_29" ></div>
        </accordion-heading>		    
			    	<div class="glossary">
			    		<p>Measures the quality of school culture and environment including safety, inclusiveness and other student success supports.</p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="false">  
        <accordion-heading>
            <div id="grilla_10_30_up" class="grillaAcordion_srd" onclick="rotarGrilla_g(this.id)">3.4  High expectations (Quality Review Indicator)</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_30" ></div>
        </accordion-heading>		    
			    	<div class="glossary">
			    		<p>Measures how effectively the school establishes a culture for learning that communicates high expectations to students, families, and staff and provides support towards students’ next steps.</p>
			    	</div>
			</accordion-group>


		    <accordion-group is-open="false">  
        <accordion-heading>
            <div id="grilla_10_31_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Test Scores (ELA)</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_31" ></div>
        </accordion-heading>		    
			    	<div class="glossary">
			    		<p>In Spring 2013, New York State administered the first set of tests designed to assess student performance in English Language Arts (Grades 3-8) in accordance with the instructional shifts required by the Common Core Learning Standards. New York State assigns performance levels 1 ,2, 3, and 4 to scale scores from the exams.</p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="false">  
        <accordion-heading>
            <div id="grilla_10_32_up" class="grillaAcordion_srd" onclick="rotarGrilla_g(this.id)">Average Proficiency Score  Overall (ELA)</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_32" ></div>
        </accordion-heading>		    
			    	<div class="glossary">
			    		<p>Provides the average performance level on New York State ELA test of students who took the test at the school.</p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="false">  
        <accordion-heading>
            <div id="grilla_10_33_up" class="grillaAcordion_srd" onclick="rotarGrilla_g(this.id)">Average Proficiency Score by Grade (ELA)</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_33" ></div>
        </accordion-heading>		    
			    	<div class="glossary">
			    		<p>Provides the average performance level by grade level  on New York State ELA test of students who took the test.</p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="false">  
        <accordion-heading>
            <div id="grilla_10_34_up" class="grillaAcordion_srd" onclick="rotarGrilla_g(this.id)">Percent of students scoring at levels 1-4 by grade (ELA)</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_34" ></div>
        </accordion-heading>		    
			    	<div class="glossary">
			    		<p>New York State assigns 4 Performance Levels  to scale scores on the test: </p>
								<ul>
									<li>Level 4: Students performing at this level excel in standards for their grade. </li>
									<li>Level 3: Students performing at this level are proficient in standards for their grade. </li>
									<li>Level 2: Students performing at this level are below proficient in standards for their grade. </li>
									<li>Level 1: Students performing at this level are well below proficient in standards for their grade . </li>
								</ul>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="false">  
        <accordion-heading>
            <div id="grilla_10_35_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Test Scores (Math)</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_35" ></div>
        </accordion-heading>		    
			    	<div class="glossary">
			    		<p>In Spring 2013, New York State administered the first set of tests designed to assess student performance in Math (Grades 3-8) in accordance with the instructional shifts required by the Common Core Learning Standards. New York State assigns performance levels 1, 2, 3, and 4 to scale scores from the exams.</p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="false">  
        <accordion-heading>
            <div id="grilla_10_36_up" class="grillaAcordion_srd" onclick="rotarGrilla_g(this.id)">Average Proficiency Score  Overall (Math)</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_36" ></div>
        </accordion-heading>		    
			    	<div class="glossary">
			    		<p>Provides the average performance level on New York State Math test of students who took the test at the school.</p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="false">  
        <accordion-heading>
            <div id="grilla_10_37_up" class="grillaAcordion_srd" onclick="rotarGrilla_g(this.id)">Average Proficiency Score by Grade (Math)</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_37" ></div>
        </accordion-heading>		    
			    	<div class="glossary">
			    		<p>Provides the average performance level by grade level on New York State Math test of students who took the test.</p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="false">  
        <accordion-heading>
            <div id="grilla_10_38_up" class="grillaAcordion_srd" onclick="rotarGrilla_g(this.id)">Percent of students scoring at levels 1-4 by grade (Math)</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_38" ></div>
        </accordion-heading>		    
			    	<div class="glossary">
			    		<p>New York State assigns 4 Performance Levels  to scale scores on the test: </p>							
								<ul>
									<li>Level 4: Students performing at this level excel in standards for their grade. </li>
									<li>Level 3: Students performing at this level are proficient in standards for their grade. </li>
									<li>Level 2: Students performing at this level are below proficient in standards for their grade. </li>
									<li>Level 1: Students performing at this level are well below proficient in standards for their grade . </li>
								</ul>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="false">  
        <accordion-heading>
            <div id="grilla_10_39_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Credit Accumulation</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_39" ></div>
        </accordion-heading>		    
			    	<div class="glossary">
			    		<p>Percentage of students who accumulate 10 or more academic credits in their first year of high school, with a particular focus on credits earned in English, math, science and social studies.  Credit accumulation is a strong indicator that a student is on track to graduation. </p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="false">  
        <accordion-heading>
            <div id="grilla_10_40_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">4 Year Graduation Rate</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_40" ></div>
        </accordion-heading>		    
			    	<div class="glossary">
			    		<p>Percentage of students who graduated with a Regents or Local Diploma within four years of beginning high school, including August graduates.  Citywide graduation rates are as reported by New York State Department of Education while individual school graduation rates are as reported by NYC DOE.</p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="false">  
        <accordion-heading>
            <div id="grilla_10_41_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">6 Year Graduation Rate</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_41" ></div>
        </accordion-heading>		    
			    	<div class="glossary">
			    		<p>Percentage of students who graduated with a Regents or Local Diploma within six years of beginning high school, including August graduates. Citywide graduation rates are as reported by New York State Department of Education while individual school graduation rates are as reported by NYC DOE.</p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="false">  
        <accordion-heading>
            <div id="grilla_10_42_up" class="grillaAcordion_srd" onclick="rotarGrilla_g(this.id)">College and Career Preparatory Course Index</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_42" ></div>
        </accordion-heading>		    
			    	<div class="glossary">
			    		<p>The percentage of students in the school’s four-year cohort who have successfully completed approved rigorous courses and assessments after four years of high school.</p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="false">  
        <accordion-heading>
            <div id="grilla_10_43_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Four-Year Non-Remediation Rate</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_43" ></div>
        </accordion-heading>		    
			    	<div class="glossary">
			    		<p>Percentage  of students in the school’s four-year cohort who, by the August after their fourth year in high school, have graduated with a Regents Diploma and have met the City University of New York's (CUNY) standards for college readiness in English and Math.</p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="false">  
        <accordion-heading>
            <div id="grilla_10_44_up" class="grillaAcordion_srd" onclick="rotarGrilla_g(this.id)">College Readiness Rate Including Persistence </div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_44" ></div>
        </accordion-heading>		    
			    	<div class="glossary">
			    		<p>Percentage of students in the six-year cohort who 1) graduated with a Regents diploma and have met City University of New York's (CUNY) standards for English and mathematics, or 2) graduated, enrolled and persisted through 3 consecutive semesters of college within six years of graduating.</p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="false">  
        <accordion-heading>
            <div id="grilla_10_45_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Post-Secondary Enrollment Rate</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_45" ></div>
        </accordion-heading>		    
			    	<div class="glossary">
			    		<p>Percentage of students who have graduated and enrolled in a two- or four-year college, vocational program, or public service within six months of their scheduled graduation date.</p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="false">  
        <accordion-heading>
            <div id="grilla_10_46_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">SAT Takers</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_46" ></div>
        </accordion-heading>		    
			    	<div class="glossary">
			    		<p>The number of students at the school who took the SAT at the school, a globally recognized college admission test that tests knowledge of critical  reading, writing and math. </p>
			    	</div>
			</accordion-group>
		    <accordion-group is-open="false">  
        <accordion-heading>
            <div id="grilla_10_47_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Average SAT Score</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_47" ></div>
        </accordion-heading>		    
			    	<div class="glossary">
			    		<p>Average SAT score of students at the school taking the exam, a globally recognized college admission test that tests knowledge of critical  reading, writing and math. </p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="false">  
        <accordion-heading>
            <div id="grilla_10_48_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Regents Pass Rate</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_48" ></div>
        </accordion-heading>		    
			    	<div class="glossary">
			    		<p>Percentage of students passing the Regents Exam in the selected year.  </p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="false">  
        <accordion-heading>
            <div id="grilla_10_49_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Regents Average Score</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_49" ></div>
        </accordion-heading>		    
			    	<div class="glossary">
			    		<p>Average score of all students who took the Regents Exam in the selected year. </p>
			    	</div>
			</accordion-group>

		    <accordion-group is-open="false">  
        <accordion-heading>
            <div id="grilla_10_50_up" class="grillaAcordion" onclick="rotarGrilla_g(this.id)">Regents College Ready</div>
            <div class="icon-arrow-down2 right diez" id="grilla_icon_10_50" ></div>
        </accordion-heading>		    
			    	<div class="glossary">
			    		<p>Percentage of students who scored at the college ready threshold for the Regents Exam in the selected year.</p>
			    	</div>
			</accordion-group>





		</accordion>
	</div>
</div>

    </section>
    <!--END.CONTENIDO-->

  <a class="exit-off-canvas"></a>

  </div>
</div>