<div class="off-canvas-wrap">
  <div class="inner-wrap">
    <nav class="tab-bar header">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
      </section>

      <section class="right tab-bar-section">
        <h1 class="title">{{ school.name }}</h1>
      </section>
    </nav>

    <div ng-include src="'templates/sidebar.html'"></div>

    <!--CONTENIDO-->
    <section class="main-section">
    
    <div class="row menu-header">   
        <div class="small-6 small-centered medium-6 large-6 columns">
            <h3 class="text-center">Enrollment</h3>
        </div>  
        <div class="small-10 small-centered medium-10 large-10 columns">        
            <div class="row">
                <div class="small-6 small-centered medium-6 large-6 columns">
                    <div ng-controller="EnrollmentDropdownCtrl" class="text-center">
                      <a dropdown-toggle="#dropdown-enrollment" class="button dropdown small bg-dropdown">{{selectedyearEnrollment}}</a>
                      <ul id="dropdown-enrollment" class="f-dropdown" style="width:100px">
                        <li ng-repeat="item in itemsddEnrollment">
                          <a ng-click="changeyear(item.indice)">{{item.texto}}</a>
                        </li>
                      </ul>
                      <br>
                      <br>
                    </div>
                <!--    <div ng-model="cbobox" class="text-center">
                    <a href="" ng-click="cbobox = 'down'" data-dropdown="drop1" class="button dropdown small bg-dropdown">Year</a><br>
                    <ul id="drop1" data-dropdown-content class="f-dropdown" ng-class="{'f-dropdown':cbobox == 'down'}" >
                      <li><a href="#">2014</a></li>
                      <li><a href="#">2013</a></li>
                      <li><a href="#">2012</a></li>
                    </ul>
                    </div> -->
                </div>      
            </div>
        </div>          
    </div>      

    <div ng-controller="AccordionDemoCtrl">

<!--
  <label class="checkbox">
    <input type="checkbox" ng-model="oneAtATime">
    Open only one at a time
  </label>
-->  

  <accordion close-others="oneAtATime">

<div class="">

    <accordion-group is-open="true">
        <accordion-heading>
            <div id="grilla_03_01_up" class="grillaAcordion" onclick="rotarGrilla(this.id)">Students Enrolled by Grade</div>
            <div class="icon-arrow-down2 right tres" id="grilla_icon_03_01" ></div>
        </accordion-heading> 

    <div class="row">
        <div class="small-12 medium-12 large-12 columns">   
            <table>
              <thead>
                <tr>
                  <th width="50%">Grades</th>
                  <th width="50%">No. Students</th>
                </tr>
              </thead>
              <tbody>
                <tr class="{{enrollment.kinder | filtraCeros}} color4">
                  <td>K</td>
                  <td>{{enrollment.kinder}}</td>
                </tr>
                <tr class="{{enrollment.grade1 | filtraCeros}}">
                  <td>1st</td>
                  <td>{{enrollment.grade1}}</td>
                </tr>       
                <tr class="{{enrollment.grade2 | filtraCeros}} color4">
                  <td>2nd</td>
                  <td>{{enrollment.grade2}}</td>
                </tr>   
                <tr class="{{enrollment.grade3 | filtraCeros}}">
                  <td>3rd</td>
                  <td>{{enrollment.grade3}}</td>
                </tr>   
                <tr class="{{enrollment.grade4 | filtraCeros}} color4">
                  <td>4th</td>
                  <td>{{enrollment.grade4}}</td>
                </tr>   
                <tr class="{{enrollment.grade5 | filtraCeros}}">
                  <td>5th</td>
                  <td>{{enrollment.grade5}}</td>
                </tr>
                <tr class="{{enrollment.grade6 | filtraCeros}} color4">
                  <td>6th</td>
                  <td>{{enrollment.grade6}}</td>
                </tr>
                <tr class="{{enrollment.grade7 | filtraCeros}}">
                  <td>7th</td>
                  <td>{{enrollment.grade7}}</td>
                </tr>
                <tr class="{{enrollment.grade8 | filtraCeros}} color4">
                  <td>8th</td>
                  <td>{{enrollment.grade8}}</td>
                </tr>
                <tr class="{{enrollment.grade9 | filtraCeros}}">
                  <td>9th</td>
                  <td>{{enrollment.grade9}}</td>
                </tr>
                <tr class="{{enrollment.grade10 | filtraCeros}} color4">
                  <td>10th</td>
                  <td>{{enrollment.grade10}}</td>
                </tr>
                <tr class="{{enrollment.grade11 | filtraCeros}}">
                  <td>11th</td>
                  <td>{{enrollment.grade11}}</td>
                </tr>
                <tr class="{{enrollment.grade12 | filtraCeros}} color4">
                  <td>12th</td>
                  <td>{{enrollment.grade12}}</td>
                </tr>

              </tbody>
            </table>
        </div>
    </div>  
    
</accordion-group>



<accordion-group  is-open="true">  
        <accordion-heading>
            <div id="grilla_03_02_dw" class="grillaAcordion" onclick="rotarGrilla(this.id)">Attendance</div>
            <div class="icon-arrow-down2 right tres" id="grilla_icon_03_02" style="-webkit-transform:rotate(180deg);left:-0.5rem"></div>
        </accordion-heading> 

<div class="row">
      <div class="small-12 medium-12 large-12 columns bg-tablas-data" >
        <div class="democracy color1 {{enrollment.attendance_es_ms_k8_ec | filtraCeros}}" style="width:{{enrollment.attendance_es_ms_k8_ec}}%;">
            <p>{{enrollment.attendance_es_ms_k8_ec | number:1}}%</p>
            <itemsurvey><span>Attendance Rate K-8</span></itemsurvey>                
        </div>

      </div>

    <br>
        <div class="small-12 medium-12 large-12 columns bg-tablas-data" style="background-color:white">
          <div style="background-color:white">
            <div class="democracy color1 {{enrollment.attendance_hs_transfer_hs | filtraCeros}} " style="width:{{enrollment.attendance_hs_transfer_hs}}%;">
                <p>{{enrollment.attendance_hs_transfer_hs | number:1}}%</p>
                <itemsurvey><span>Attendance Rate 9-12</span></itemsurvey>
            </div>

        </div>
    </div>

</div>    
</accordion-group>                    

</accordion>    
    
    </section>
    <!--END.CONTENIDO-->

  <a class="exit-off-canvas"></a>

  </div>
</div>  