<div class="off-canvas-wrap">
  <div class="inner-wrap">
    <nav class="tab-bar header">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
      </section>

      <section class="right tab-bar-section middle-vertical">
        <h1 class="title">{{ school.name }}</h1>
      </section>
    </nav>

    <div ng-include src="'templates/sidebar.html'"></div>

	<!--CONTENIDO-->
    <section class="main-section">

	<div class="row menu-header" style="margin-bottom: -0.9rem;" >
		<div class="small-10 small-centered medium-6 large-6 columns">
			<h3 class="text-center">{{'Evaluations' | translateEvaluations}}</h3>
		</div>
	</div>

		<div id="selectEvaluation_eva" class="borrar"> <!--ES ADMISSION-->
			<div class="row menu-header"  style="padding-top:0 !important">
				<div class="small-10 small-centered medium-10 large-10 columns">
					<div class="row">
						<div class="small-10 small-centered medium-6 large-6 columns">
							<div ng-controller="SelectEvaluations" class="text-center">
								<a dropdown-toggle="#dropdown_select_evaluation" class="button dropdown small bg-dropdown" >{{SelectEvaluations_is | translateGlobal}}</a>
								<ul id="dropdown_select_evaluation" class="f-dropdown">
									<li ng-repeat="item_select_eval in itemsEvaluations">
										<a ng-click="changeEvaluations(item_select_eval.indice)">{{item_select_eval.texto | translateGlobal}}</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="nd_eva" class="borrar"> <!--ES ADMISSION-->
			<div  class="no-data">{{'Unavailable for the selected year' | translateGlobal}}</div>
		</div>

<!--INICIO ALL-->
<div id="all_eva" class="borrar">
<!-- ES ES ES ES -->

<div id="elementary_eva" class="borrar">

			<div class="row menu-header"  style="padding-top:0 !important">
				<div class="small-10 small-centered medium-10 large-10 columns">
					<div class="row">
						<div class="small-6 small-centered  medium-6 large-6 columns">
							<div ng-controller="EvaluationsCtrlYearElem" class="text-center">
								<a dropdown-toggle="#dropdown-Evaluations" class="button dropdown small bg-dropdown">{{selectedyearEvaluationsElem}}</a>
									<ul id="dropdown-Evaluations" class="f-dropdown">
										<li ng-repeat="item in itemsYearsEvaluationsElem">
											<a ng-click="changeyear(item.indice)">{{item.texto}}</a>
										</li>
									</ul>
								<br>
							</div>
						</div>
					</div>
				</div>
			</div>

		<div ng-controller="AccordionDemoCtrl">

		  <accordion close-others="oneAtATime">

		    <div ng-show="valuesProgressReportElem" style="position:relative;z-index:5;top: 8px;left: {{ 8 |iconPosition }};cursor:pointer"class="icon-info-acordion" Popover-animation="false"  popover-placement="bottom" popover="{{'The Progress Report measures students’ year-to-year progress, compares the school to other schools with similar students, and rewards success in moving all children forward, especially those with the highest needs (i.e., students with disabilities, English language learners, students with the lowest third incoming proficiency citywide, and black and Hispanic males). Overall Progress Report grades, which range from A to F, are based on the scores of multiple sections.  In each section, a school\'s results are compared to the results of “peer” schools serving similar students and to all schools citywide.' | translateGlosary}}" ><img style="position:absolute;" src='img/info.png' width='30'  onclick="quitaBurbuja()"></div>

		    <accordion-group is-open="false">
        <accordion-heading>
            <div>{{'Progress Report' | translateEvaluations}}</div>
        </accordion-heading>

  			<div class="row" ng-show="valuesProgressReportElem">

					<div class="small-12 medium-12 large-12 columns  bg-tablas-data  {{evaluation.es_ms_k8_ec_o_pr_score | filterNull}}">
						<div class="democracy color-barra " style="width:{{evaluation.es_ms_k8_ec_o_pr_score}}%;">
							<!-- <p><b>{{evaluation.es_ms_k8_ec_s_pr_grade}} </b></p> -->
							<p>{{evaluation.es_ms_k8_ec_o_pr_score | number:1}}/<span class="total_dividendo">100</span></p>
							<itemsurvey><span class="con-info"><em ng-show="EvaluationsYearSelected < 2">{{'Overall' | translateEvaluations}}</em><em ng-show="EvaluationsYearSelected >= 2">{{'Closing Gap' | translateEvaluations}}</em></span>
							<div Popover-animation="false" popover="{{'The Progress Report measures students’ year-to-year progress, compares the school to other schools with similar students, and rewards success in moving all children forward, especially those with the highest needs (i.e., students with disabilities, English language learners, students with the lowest third incoming proficiency citywide, and black and Hispanic males). Overall Progress Report grades, which range from A to F, are based on the scores of multiple sections.  In each section, a school\'s results are compared to the results of “peer” schools serving similar students and to all schools citywide.' | translateGlosary}}" popover-placement="left" class="icon-info" style="cursor:pointer"  onclick="quitaBurbuja()"></div>
							</itemsurvey>
						</div>
						<div class="rank-s">
							<p class="{{ evaluation.es_ms_k8_ec_s_pr_rating_target | filtraCeros }}">{{ evaluation.es_ms_k8_ec_s_pr_rating_target }} </p>
							<p class="{{ proficiency_ratings.es_ms_k8_ec_overal_pr_pr | filtraCeros }}">{{'Rank' | translateGlobal}} <img ng-src="img/{{ proficiency_ratings.es_ms_k8_ec_overal_pr_pr | filtraRank }}.png" > >{{'Avg.' | translateGlobal}} </p>
						</div>
					</div>

					<div class="small-12 medium-12 large-12 columns  bg-tablas-data  {{evaluation.es_ms_k8_ec_s_perf_pr_score | filterNull}}">
						<div class="democracy color-barra-2 " style="width:{{evaluation.es_ms_k8_ec_s_perf_pr_score}}%;">
							<p>{{evaluation.es_ms_k8_ec_s_perf_pr_score | number:1}}/<span class="total_dividendo">100</span></p>
							<itemsurvey><span class="con-info">{{'Performance' | translateEvaluations}}</span>
							<div Popover-animation="false" popover="{{'Based on student results on the State tests in English Language Arts and Math. Middle school scores also take students passing core courses into account.' | translateGlosary}}" popover-placement="left" class="icon-info" style="cursor:pointer"  onclick="quitaBurbuja()"></div>
							</itemsurvey>
						</div>
						<div class="rank-s">
							<p class="{{ evaluation.es_ms_k8_ec_s_perf_pr_rating_target | filtraCeros }}">{{ evaluation.es_ms_k8_ec_s_perf_pr_rating_target }} </p>
							<p class="{{ proficiency_ratings.es_ms_k8_ec_student_performance_pr_pr | filtraCeros }}">{{'Rank' | translateGlobal}} <img ng-src="img/{{ proficiency_ratings.es_ms_k8_ec_student_performance_pr_pr | filtraRank }}.png" > >{{'Avg.' | translateGlobal}} </p>
						</div>
					</div>

					<div class="small-12 medium-12 large-12 columns  bg-tablas-data  {{evaluation.es_ms_k8_ec_s_prog_score | filterNull}}">
						<div class="democracy color-barra " style="width:{{evaluation.es_ms_k8_ec_s_prog_score}}%;">
							<p>{{evaluation.es_ms_k8_ec_s_prog_score | number:1}}/<span class="total_dividendo">100</span></p>
							<itemsurvey><span class="con-info">{{'Progress' | translateEvaluations}}</span>
							<div Popover-animation="false" popover="{{'Based on how much individual students improved on State tests in English Language Arts and Math compared to other students in the City.' | translateGlosary}}" popover-placement="left" class="icon-info" style="cursor:pointer"   onclick="quitaBurbuja()"></div>
							</itemsurvey>
						</div>
						<div class="rank-s">
							<p class="{{ evaluation.es_ms_k8_ec_s_prog_rating_target | filtraCeros }}">{{ evaluation.es_ms_k8_ec_s_prog_rating_target }} </p>
							<p class="{{ proficiency_ratings.es_ms_k8_ec_student_progress_pr_score_pr | filtraCeros }}">{{'Rank' | translateGlobal}} <img ng-src="img/{{ proficiency_ratings.es_ms_k8_ec_student_progress_pr_score_pr | filtraRank }}.png" > >{{'Avg.' | translateGlobal}} </p>
						</div>
					</div>

					<div class="small-12 medium-12 large-12 columns  bg-tablas-data  {{evaluation.es_ms_k8_ec_s_enviro_pr_score | filterNull}}">
						<div class="democracy color-barra-2 " style="width:{{evaluation.es_ms_k8_ec_s_enviro_pr_score}}%;">
							<p>{{evaluation.es_ms_k8_ec_s_enviro_pr_score | number:1}}/<span class="total_dividendo">100</span></p>
							<itemsurvey><span class="con-info">{{'Environment' | translateEvaluations}}</span>
							<div Popover-animation="false" popover="{{'Based on student attendance and the results of the school\'s NYC School Survey.' | translateGlosary}}" popover-placement="left" class="icon-info" style="cursor:pointer"   onclick="quitaBurbuja()"></div>
							</itemsurvey>
						</div>
						<div class="rank-s">
							<p class="{{ evaluation.es_ms_k8_ec_s_enviro_pr_rating_target | filtraCeros }}">{{ evaluation.es_ms_k8_ec_s_enviro_pr_rating_target }} </p>
							<p class="{{ proficiency_ratings.es_ms_k8_ec_scholl_environment_pr_pr | filtraCeros }}">{{'Rank' | translateGlobal}} <img ng-src="img/{{ proficiency_ratings.es_ms_k8_ec_scholl_environment_pr_pr | filtraRank }}.png" > >{{'Avg.' | translateGlobal}} </p>
						</div>
					</div>
				</div>
                <div class="democracy color-barra" style="width:100%; background-color: #FFF!important" ng-if="!valuesProgressReportElem">
                    <p style="font-size:1.1rem; width: 20rem">{{'Unavailable for the selected year' | translateGlobal}}</p>
                </div>

	    </accordion-group>

		    <div  style="position:relative;z-index:5;top: 8px;left: {{ 9 | iconPosition }};cursor:pointer"class="icon-info-acordion" Popover-animation="false"  popover-placement="bottom" popover="{{'A two- or three-day school visit by an experienced educator to evaluate how well the school is organized to support student achievement. The overall rating is based on three major categories: instruction that prepares students for college and careers, school organization and management, and quality of the learning environment.' | translateGlosary}}" ><img style="position:absolute;" src='img/info.png' width='30' onclick="quitaBurbuja()"></div>

    <accordion-group is-open="false" >
      <accordion-heading>
          <div>{{'Quality Review' | translateEvaluations}}</div>
      </accordion-heading>

    	<div ng-show="valuesQualityReviewElem">

				<div class="small-12 medium-12 large-12 columns bg-tablas-data  {{evaluation_ratings.quality_review_rating | filtraCeros}}">
					<div class="democracy color-barra " style="width:{{evaluation_ratings.quality_review_rating | filtraqr}}%;">
						<p style="font-size:1.1rem">{{evaluation_ratings.quality_review_rating | translateEvaluations}}</p>
						<itemsurvey style="width:40%;top:-0.4rem;text-align:right;"><span class="sin-i">{{'Overall' | translateEvaluations}}</span></itemsurvey>
					</div>
				</div>

				<div class="small-12 medium-12 large-12 columns bg-tablas-data  {{evaluation_ratings.ri_11 | filtraCeros}}">
					<div class="democracy color-barra-2 " style="width:{{evaluation_ratings.ri_11 | filtraqr}}%;">
						<p style="font-size:1.1rem">{{evaluation_ratings.ri_11 | translateEvaluations}}</p>
						<itemsurvey style="width:40%;top:-0.4rem;text-align:right;"><span class="con-info">{{'Curriculum' | translateEvaluations}}</span>
						<div Popover-animation="false" popover="{{'Measures the rigor and coherence of school curricula in all subjects with a close examination of consistency and access for all students across grades and subject areas.' | translateGlosary}}" popover-placement="left" class="icon-info" style="cursor:pointer;"  onclick="quitaBurbuja()"></div>
						</itemsurvey>
					</div>
				</div>


				<div class="small-12 medium-12 large-12 columns bg-tablas-data  {{evaluation_ratings.ri_12 | filtraCeros}}">
					<div class="democracy color-barra " style="width:{{evaluation_ratings.ri_12 | filtraqr}}%;">
						<p style="font-size:1.1rem">{{evaluation_ratings.ri_12 | translateEvaluations}}</p>
						<itemsurvey  style="width:40%;top:-0.4rem;text-align:right;"><span class="con-info">{{'Pedagogy' | translateEvaluations}}</span>
						<div Popover-animation="false" popover="{{'Measures the effectiveness of instruction across classrooms by looking at the quality of student work products and student discussion.' | translateGlosary}}" popover-placement="left" class="icon-info" style="cursor:pointer;" onclick="quitaBurbuja()"></div>
						</itemsurvey>
					</div>
				</div>


				<div class="small-12 medium-12 large-12 columns bg-tablas-data  {{evaluation_ratings.ri_14 | filtraCeros}}">
					<div class="democracy color-barra-2 " style="width:{{evaluation_ratings.ri_14 | filtraqr}}%;">
						<p style="font-size:1.1rem">{{evaluation_ratings.ri_14 | translateEvaluations}}</p>
						<itemsurvey style="width:40%;top:-0.4rem;text-align:right;"><span class="con-info">{{'Positive Learning Env.' | translateEvaluations}}</span>
						<div Popover-animation="false" popover="{{'Measures the quality of school culture and environment including safety, inclusiveness and other student success supports.' | translateGlosary}}" popover-placement="left" class="icon-info" style="cursor:pointer;" onclick="quitaBurbuja()"></div>
						</itemsurvey>
					</div>
				</div>


				<div class="small-12 medium-12 large-12 columns bg-tablas-data  {{evaluation_ratings.ri_34 | filtraCeros}}">
					<div class="democracy color-barra " style="width:{{evaluation_ratings.ri_34 | filtraqr}}%;">
						<p style="font-size:1.1rem">{{evaluation_ratings.ri_34 | translateEvaluations}}</p>
						<itemsurvey style="width:40%;top:-0.4rem;text-align:right;"><span class="con-info">{{'High expectations' | translateEvaluations}}</span>
						<div Popover-animation="false" popover="{{'Measures how effectively the school establishes a culture for learning that communicates high expectations to students, families, and staff and provides support towards students’ next steps.' | translateGlosary}}" popover-placement="left" class="icon-info" style="cursor:pointer;" onclick="quitaBurbuja()"></div>
						</itemsurvey>
					</div>
				</div>

				<div class="small-12 medium-12 large-12 columns bg-tablas-data  {{evaluation_ratings.ri_22 | filtraCeros}}">
					<div class="democracy color-barra " style="width:{{evaluation_ratings.ri_22 | filtraqr}}%;">
						<p style="font-size:1.1rem">{{evaluation_ratings.ri_22 | translateEvaluations}}</p>
						<itemsurvey style="width:40%;top:-0.4rem;text-align:right;"><span class="con-info">{{'Assessment' | translateEvaluations}}</span>
						<div Popover-animation="false" popover="{{'Assessment Description' | translateGlosary}}" popover-placement="left" class="icon-info" style="cursor:pointer;" onclick="quitaBurbuja()"></div>
						</itemsurvey>
					</div>
				</div>


    	</div>

    	<div ng-show="valuesQualityReviewElemND">

				<div class="small-12 medium-12 large-12 columns bg-tablas-data">
					<div class="democracy color-barra " style="width:0%;">
						<p style="font-size:1.1rem; width: 20rem">{{'Unavailable for the selected year' | translateGlobal}}</p>
						<itemsurvey style="top:-0.4rem;text-align:right;">
						</itemsurvey>
					</div>
				</div>

    	</div>

  	</accordion-group>
  </accordion>

	</div>

</div>
<!-- ES ES ES ES -->


<!-- HS HS HS HS -->

	<div id="high_eva" class="borrar">
			<div class="row menu-header" style="padding-top:0 !important">
				<div class="small-10 small-centered medium-10 large-10 columns">
					<div class="row">
						<div class="small-6 small-centered  medium-6 large-6 columns">
							<div ng-controller="EvaluationsCtrlYearHigh" class="text-center">
								<a dropdown-toggle="#dropdown-Evaluations_hs" class="button dropdown small bg-dropdown">{{selectedyearEvaluationsHigh}}</a>
									<ul id="dropdown-Evaluations_hs" class="f-dropdown">
										<li ng-repeat="item_hs in itemsYearsEvaluationsHigh">
											<a ng-click="changeyear_hs(item_hs.indice)">{{item_hs.texto}}</a>
										</li>
									</ul>
								<br>
							</div>
						</div>
					</div>
				</div>
			</div>

	<!-- <div class="row"> -->
		<div ng-controller="AccordionDemoCtrl">

		  <accordion close-others="oneAtATime">

		    <div ng-show="valuesProgressReportHigh" style="position:relative;z-index:5;top: 8px;left: {{ 8 |iconPosition }};cursor:pointer"class="icon-info-acordion" Popover-animation="false"  popover-placement="bottom" popover="{{'The Progress Report measures students’ year-to-year progress, compares the school to other schools with similar students, and rewards success in moving all children forward, especially those with the highest needs (i.e., students with disabilities, English language learners, students with the lowest third incoming proficiency citywide, and black and Hispanic males). Overall Progress Report grades, which range from A to F, are based on the scores of multiple sections.  In each section, a school\'s results are compared to the results of “peer” schools serving similar students and to all schools citywide.' | translateGlosary}}" ><img style="position:absolute;" src='img/info.png' width='30'  onclick="quitaBurbuja()"></div>

	    <accordion-group is-open="false" ng-show="valuesProgressReportHigh">
        <accordion-heading>
            <div>{{'Progress Report' | translateEvaluations}}</div>
        </accordion-heading>

			    <!--Inicio HS -->
		    <div class="row">

					<div class="small-12 medium-12 large-12 columns  bg-tablas-data  {{evaluation.hs_t_hs_o_pr_score | filterNull}}">
						<div class="democracy color-barra " style="width:{{evaluation.block}}%;">
							<p><b>{{evaluation.hs_t_hs_o_pr_score}}</b></p>
							<itemsurvey><span class="con-info"><em ng-show="EvaluationsYearSelected < 2">{{'Overall' | translateEvaluations}}</em><em ng-show="EvaluationsYearSelected >= 2">{{'Closing Gap' | translateEvaluations}}</em></span>
							<div Popover-animation="false" popover="{{'The Progress Report measures students’ year-to-year progress, compares the school to other schools with similar students, and rewards success in moving all children forward, especially those with the highest needs (i.e., students with disabilities, English language learners, students with the lowest third incoming proficiency citywide, and black and Hispanic males). Overall Progress Report grades, which range from A to F, are based on the scores of multiple sections.  In each section, a school\'s results are compared to the results of “peer” schools serving similar students and to all schools citywide.' | translateGlosary}}" popover-placement="left" class="icon-info" style="cursor:pointer" onclick="quitaBurbuja()"></div>
							</itemsurvey>
						</div>
						<div class="rank-s">
							<p class="{{ evaluation.hs_t_hs_o_pr_rating_target | filtraCeros }}">{{ evaluation.hs_t_hs_o_pr_rating_target }} </p>
							<p class="{{ proficiency_ratings.hs_t_hs_overall_pr_pr | filtraCeros }}">{{'Rank' | translateGlobal}} <img ng-src="img/{{ proficiency_ratings.hs_t_hs_overall_pr_pr | filtraRank }}.png" > >{{'Avg.' | translateGlobal}} </p>
						</div>
					</div>


					<div class="small-12 medium-12 large-12 columns  bg-tablas-data  {{evaluation.hs_t_hs_sper_pr_score | filterNull}}">
						<div class="democracy color-barra-2 " style="width:{{evaluation.hs_t_hs_sper_pr_score}}%;">
							<p>{{evaluation.hs_t_hs_sper_pr_score | number:1}}/<span class="total_dividendo">100</span></p>
							<itemsurvey><span class="con-info">{{'Performance' | translateEvaluations}}</span>
							<div Popover-animation="false" popover="{{'Based on how many students graduated within 4 and 6 years of starting high school  and the types of diplomas they earned.' | translateGlosary}}" popover-placement="left" class="icon-info" style="cursor:pointer" onclick="quitaBurbuja()"></div>
							</itemsurvey>
						</div>
						<div class="rank-s">
							<p class="{{ evaluation.hs_t_hs_sper_pr_rating_target | filtraCeros }}">{{ evaluation.hs_t_hs_sper_pr_rating_target }} </p>
							<p class="{{ proficiency_ratings.hs_t_hs_student_performance_pr_pr | filtraCeros }}">{{'Rank' | translateGlobal}} <img ng-src="img/{{ proficiency_ratings.hs_t_hs_student_performance_pr_pr | filtraRank }}.png" > >{{'Avg.' | translateGlobal}} </p>
						</div>
					</div>

					<div class="small-12 medium-12 large-12 columns  bg-tablas-data  {{evaluation.hs_t_hs_spro_pr_score | filterNull}}">
						<div class="democracy color-barra " style="width:{{evaluation.hs_t_hs_spro_pr_score}}%;">
							<p>{{evaluation.hs_t_hs_spro_pr_score | number:1}}/<span class="total_dividendo">100</span></p>
							<itemsurvey><span class="con-info">{{'Progress' | translateEvaluations}}</span>
							<div Popover-animation="false" popover="{{'Based on the annual progress students make toward meeting the State\'s graduation requirements by earning course credits and passing Regents exams.' | translateGlosary}}" popover-placement="left" class="icon-info" style="cursor:pointer" onclick="quitaBurbuja()"></div>
							</itemsurvey>
						</div>
						<div class="rank-s">
							<p class="{{ evaluation.hs_t_hs_spro_pr_rating_target | filtraCeros }}">{{ evaluation.hs_t_hs_spro_pr_rating_target }} </p>
							<p class="{{ proficiency_ratings.hs_t_hs_student_progress_pr_pr | filtraCeros }}">{{'Rank' | translateGlobal}} <img ng-src="img/{{ proficiency_ratings.hs_t_hs_student_progress_pr_pr | filtraRank }}.png" > >{{'Avg.' | translateGlobal}} </p>
						</div>
					</div>

					<div class="small-12 medium-12 large-12 columns  bg-tablas-data  {{evaluation.hs_t_hs_se_pr_score | filterNull}}">
						<div class="democracy color-barra-2 " style="width:{{evaluation.hs_t_hs_se_pr_score}}%;">
							<p>{{evaluation.hs_t_hs_se_pr_score | number:1}}/<span class="total_dividendo">100</span></p>
							<itemsurvey><span class="con-info">{{'Environment' | translateEvaluations}}</span>
							<div Popover-animation="false" popover="{{'Based on student attendance and the results of the school\'s NYC School Survey.' | translateGlosary}}" popover-placement="left" class="icon-info" style="cursor:pointer" onclick="quitaBurbuja()"></div>
							</itemsurvey>
						</div>
						<div class="rank-s">
							<p class="{{ evaluation.hs_t_hs_se_pr_rating_target | filtraCeros }}">{{ evaluation.hs_t_hs_se_pr_rating_target }} </p>
							<p class="{{ proficiency_ratings.hs_t_hs_school_environment_pr_pr | filtraCeros }}">{{'Rank' | translateGlobal}} <img ng-src="img/{{ proficiency_ratings.hs_t_hs_school_environment_pr_pr | filtraRank }}.png" > >{{'Avg.' | translateGlobal}} </p>
						</div>
					</div>

					<div class="small-12 medium-12 large-12 columns  bg-tablas-data  {{evaluation.hs_t_hs_o_cac_score | filterNull}}">
						<div class="democracy color-barra " style="width:{{evaluation.hs_t_hs_o_cac_score}}%;">
							<p>{{evaluation.hs_t_hs_o_cac_score | number:1}}/<span class="total_dividendo">100</span></p>
							<itemsurvey><span class="con-info">{{'Career Readiness' | translateEvaluations}}</span>
							<div Popover-animation="false" popover="{{'Measures the ability of a school to prepare its students for success in college and career on the basis of passing advanced courses, meeting proficiency standards and enrolling in a post-secondary institution.' | translateGlosary}}" popover-placement="left" class="icon-info" style="cursor:pointer" onclick="quitaBurbuja()"></div>
							</itemsurvey>
						</div>
						<div class="rank-s">
							<p class="{{ evaluation.hs_t_hs_o_cac_rating_target | filtraCeros }}">{{ evaluation.hs_t_hs_o_cac_rating_target }} </p>
							<p class="{{ proficiency_ratings.hs_t_hs_college_carrer_pr_pr | filtraCeros }}">{{'Rank' | translateGlobal}} <img ng-src="img/{{ proficiency_ratings.hs_t_hs_college_carrer_pr_pr | filtraRank }}.png" > >{{'Avg.' | translateGlobal}} </p>
						</div>
					</div>
				</div>
	    </accordion-group>

		    <div style="position:relative;z-index:5;top: 8px;left: {{ 9 | iconPosition }};cursor:pointer"class="icon-info-acordion" Popover-animation="false"  popover-placement="bottom" popover="A two- or three-day school visit by an experienced educator to evaluate how well the school is organized to support student achievement. The overall rating is based on three major categories: instruction that prepares students for college and careers, school organization and management, and quality of the learning environment." ><img style="position:absolute;" src='img/info.png' width='30' onclick="quitaBurbuja()"></div>
		    <accordion-group is-open="false" >
	        <accordion-heading>
	            <div >{{'Quality Review' | translateEvaluations}}</div>
	        </accordion-heading>

	    	<div ng-show="valuesQualityReviewHigh">


					<div class="small-12 medium-12 large-12 columns bg-tablas-data  {{evaluation_ratings.quality_review_rating | filtraCeros}}">
						<div class="democracy color-barra " style="width:{{evaluation_ratings.quality_review_rating | filtraqr}}%;">
							<p style="font-size:1.1rem">{{evaluation_ratings.quality_review_rating | translateEvaluations}}</p>
							<itemsurvey style="width:40%;top:-0.4rem;text-align:right;"><span class="sin-i">{{'Overall' | translateEvaluations}}</span></itemsurvey>
						</div>
					</div>

					<div class="small-12 medium-12 large-12 columns bg-tablas-data  {{evaluation_ratings.ri_11 | filtraCeros}}">
						<div class="democracy color-barra-2 " style="width:{{evaluation_ratings.ri_11 | filtraqr}}%;">
							<p style="font-size:1.1rem">{{evaluation_ratings.ri_11 | translateEvaluations}}</p>
							<itemsurvey style="width:40%;top:-0.4rem;text-align:right;"><span class="con-info">{{'Curriculum' | translateEvaluations}}</span>
							<div Popover-animation="false" popover="{{'Measures the rigor and coherence of school curricula in all subjects with a close examination of consistency and access for all students across grades and subject areas.' | translateGlosary}}" popover-placement="left" class="icon-info" style="cursor:pointer;" onclick="quitaBurbuja()"></div>
							</itemsurvey>
						</div>
					</div>

					<div class="small-12 medium-12 large-12 columns bg-tablas-data  {{evaluation_ratings.ri_12 | filtraCeros}}">
						<div class="democracy color-barra " style="width:{{evaluation_ratings.ri_12 | filtraqr}}%;">
							<p style="font-size:1.1rem">{{evaluation_ratings.ri_12 | translateEvaluations}}</p>
							<itemsurvey  style="width:40%;top:-0.4rem;text-align:right;"><span class="con-info">{{'Pedagogy' | translateEvaluations}}</span>
							<div Popover-animation="false" popover="{{'Measures the effectiveness of instruction across classrooms by looking at the quality of student work products and student discussion.' | translateGlosary}}" popover-placement="left" class="icon-info" style="cursor:pointer;" onclick="quitaBurbuja()"></div>
							</itemsurvey>
						</div>
					</div>

					<div class="small-12 medium-12 large-12 columns bg-tablas-data  {{evaluation_ratings.ri_14 | filtraCeros}}">
						<div class="democracy color-barra" style="width:{{evaluation_ratings.ri_14 | filtraqr}}%;">
							<p style="font-size:1.1rem">{{evaluation_ratings.ri_14 | translateEvaluations}}</p>
							<itemsurvey style="width:40%;top:-0.4rem;text-align:right;"><span class="con-info">{{'Positive Learning Env.' | translateEvaluations}}</span>
							<div Popover-animation="false" popover="{{'Measures the quality of school culture and environment including safety, inclusiveness and other student success supports.' | translateGlosary}}" popover-placement="left" class="icon-info" style="cursor:pointer;" onclick="quitaBurbuja()"></div>
							</itemsurvey>
						</div>
					</div>

					<div class="small-12 medium-12 large-12 columns bg-tablas-data  {{evaluation_ratings.ri_34 | filtraCeros}}">
						<div class="democracy color-barra " style="width:{{evaluation_ratings.ri_34 | filtraqr}}%;">
							<p style="font-size:1.1rem">{{evaluation_ratings.ri_34 | translateEvaluations}}</p>
							<itemsurvey style="width:40%;top:-0.4rem;text-align:right;"><span class="con-info">{{'High expectations' | translateEvaluations}}</span>
							<div Popover-animation="false" popover="{{'Measures how effectively the school establishes a culture for learning that communicates high expectations to students, families, and staff and provides support towards students’ next steps.' | translateGlosary}}" popover-placement="left" class="icon-info" style="cursor:pointer;" onclick="quitaBurbuja()"></div>
							</itemsurvey>
						</div>
					</div>

					<div class="small-12 medium-12 large-12 columns bg-tablas-data  {{evaluation_ratings.ri_22 | filtraCeros}}">
						<div class="democracy color-barra " style="width:{{evaluation_ratings.ri_22 | filtraqr}}%;">
							<p style="font-size:1.1rem">{{evaluation_ratings.ri_22 | translateEvaluations}}</p>
							<itemsurvey style="width:40%;top:-0.4rem;text-align:right;"><span class="con-info">{{'Assessment' | translateEvaluations}}</span>
							<div Popover-animation="false" popover="{{'Assessment Description' | translateGlosary}}" popover-placement="left" class="icon-info" style="cursor:pointer;" onclick="quitaBurbuja()"></div>
							</itemsurvey>
						</div>
					</div>

	  		</div>

	    	<div ng-show="valuesQualityReviewHighND">

					<div class="small-12 medium-12 large-12 columns bg-tablas-data">
						<div class="democracy color-barra " style="width:0%;">
							<p style="font-size:0.9rem; width: 24rem">{{'Unavailable for the selected year' | translateGlobal}}</p>
							<itemsurvey style="top:-0.4rem;text-align:right;">
							</itemsurvey>
						</div>
					</div>

	    	</div>

	  	</accordion-group>
		</accordion>

	</div>
<!-- </div> -->

</div> <!-- HS HS HS HS -->

</div> <!--FIN ALL-->

    </section>
    <!--END.CONTENIDO-->

  <a class="exit-off-canvas"></a>

  </div>
</div>
