    <div class="row header">
        <div class="small-12 medium-12 large-12 columns middle-vertical-menu">
            <h1 class="text-center">{{ school.name }}</h1>
        </div>
    </div> 
<!--END.HEADER-->
    
    <div class="row menu-header">
        <div class="small-12 medium-12 large-12 columns text-center">
            <h3>{{'Menu' | translateMenu}}</h3>
        </div>      
    </div>   
    
    <a ng-click="go('/')" >
        <div class="row switch1">
            <div class="small-5 medium-5 large-5 columns">
                <p class="text-center"><img src="img/search_menu.png"></p>          
            </div>
            <div class="small-7 medium-7 large-7 columns">
                <p>{{'Search' | translateMenu}}</p>
            </div>
        </div>
    </a>
    <a ng-click="go('/school/' +  school.id)" ng-href="#/school/{{school.id}}">
        <div class="row switch2">
            <div class="small-5 medium-5 large-5 columns">
                <p class="text-center"><img src="img/profile_menu.png"></p>         
            </div>
            <div class="small-7 medium-7 large-7 columns">
                <p>{{'Profile' | translateMenu}}</p>
            </div>
        </div>
    </a>
    <a ng-click="go('/school/' +  school.id + '/demographics')" ng-href="#/school/{{school.id}}/demographics">
        <div class="row switch1">
            <div class="small-5 medium-5 large-5 columns">
                <p class="text-center"><img src="img/demographics_menu.png"></p>    
            </div>
            <div class="small-7 medium-7 large-7 columns">
                <p>{{'Demographics' | translateMenu}}</p>
            </div>
        </div>
    </a>
    <a ng-click="go('/school/' +  school.id + '/enrollments')" ng-href="#/school/{{school.id}}/enrollments">
        <div class="row switch2">
            <div class="small-5 medium-5 large-5 columns">
                <p class="text-center"><img src="img/enrollment_menu.png"></p>  
            </div>
            <div class="small-7 medium-7 large-7 columns">
                <p>{{'Enrollment' | translateMenu}}</p>
            </div>
        </div>
    </a>                
    <a ng-click="go('/school/' +  school.id + '/admissions')" ng-href="#/school/{{school.id}}/admissions">
        <div class="row switch1">
            <div class="small-5 medium-5 large-5 columns">
                <p class="text-center"><img src="img/admissions_menu.png"></p>  
            </div>
            <div class="small-7 medium-7 large-7 columns">
                <p>{{'Admissions' | translateMenu}}</p>
            </div>
        </div>  
    </a>
    <a ng-click="go('/school/' +  school.id + '/testScores')" ng-href="#/school/{{school.id}}/testScores">
        <div class="row switch2">
            <div class="small-5 medium-5 large-5 columns">
                <p class="text-center"><img src="img/testscores_menu.png"></p>  
            </div>
            <div class="small-7 medium-7 large-7 columns">
                <p>{{'Test Scores' | translateMenu}}</p>
            </div>
        </div>  
    </a>
    <a ng-click="go('/school/' +  school.id + '/evaluations')" ng-href="#/school/{{school.id}}/evaluations">
        <div class="row switch1">
            <div class="small-5 medium-5 large-5 columns">
                <p class="text-center"><img src="img/evaluations_menu.png"></p> 
            </div>
            <div class="small-7 medium-7 large-7 columns">
                <p>{{'Evaluations' | translateMenu}}</p>
            </div>
        </div>  
    </a>        
    <a ng-click="go('/school/' +  school.id + '/surveyResults')" ng-href="#/school/{{school.id}}/surveyResults">
        <div class="row switch2">
            <div class="small-5 medium-5 large-5 columns">
                <p class="text-center"><img src="img/surveyresults_menu.png"></p>   
            </div>
            <div class="small-7 medium-7 large-7 columns">
                <p>{{'Survey Results' | translateMenu}}</p>
            </div>
        </div>  
    </a>
    <a ng-hide="filtroCCmenu" ng-click="go('/school/' +  school.id + '/college')" ng-href="#/school/{{school.id}}/college">     
        <div  class="row switch1 ">
            <div class="small-5 medium-5 large-5 columns ">
                <p  class="text-center"><img src="img/college_menu.png"></p> 
            </div>
            <div  class="small-7 medium-7 large-7 columns ">
                <p>{{'College & Career' | translateMenu}}</p>
            </div>
        </div>
    </a>
    <a ng-click="go('/school/' +  school.id + '/glossary')" ng-href="#/school/{{school.id}}/glossary" > 
        <div class="row {{classGT}} something-semantic" >
            <div class="small-5 medium-5 large-5 columns">
                <p class="text-center"><img src="img/glosary_menu.png"></p> 
            </div>
            <div class="small-7 medium-7 large-7 columns something-else-semantic">
                <p>{{'Glossary of Terms' | translateMenu}}</p>
            </div>
        </div>  
    </a>