<aside class="left-off-canvas-menu">
  <ul class="off-canvas-list">
    <li><label>Menu</label></li>
    <li>
        <a ng-click="go('/')">
        <div class="row">
            <div class="small-2  columns">
                <img src="img/search_menu.png"> 
            </div>  
            <div class="small-10 columns menu-alinear-texto">
                 {{'Search' | translateMenu}}
            </div>
        </div>
        </a>
    </li>
    <li>
        <a ng-click="go('/school/' +  school.id)" ng-href="#/school/{{school.id}}">
        <div class="row">
            <div class="small-2  columns">
                <img src="img/profile_menu.png">    
            </div>  
            <div class="small-10 columns menu-alinear-texto">   
                 {{'Profile' | translateMenu}} 
            </div>
        </div>
        </a>
    </li>
    <li>
        <a ng-click="go('/school/' +  school.id + '/demographics')" ng-href="#/school/{{school.id}}/demographics">
        <div class="row">
            <div class="small-2  columns">
                <img src="img/demographics_menu.png">   
            </div>  
            <div class="small-10 columns menu-alinear-texto">   
                 {{'Demographics' | translateMenu}}
            </div>
        </div>
        </a>            
    </li>
    <li>
        <a ng-click="go('/school/' +  school.id + '/admissions')" ng-href="#/school/{{school.id}}/admissions">
        <div class="row">
            <div class="small-2  columns">
                <img src="img/admissions_menu.png"> 
            </div>  
            <div class="small-10 columns menu-alinear-texto">   
                 {{'Admissions' | translateMenu}}
            </div>
        </div>
        </a>               
    </li>    
    <li>
        <a ng-click="go('/school/' +  school.id + '/enrollments')" ng-href="#/school/{{school.id}}/enrollments">
        <div class="row">
            <div class="small-2  columns">
                <img src="img/enrollment_menu.png"> 
            </div>  
            <div class="small-10 columns menu-alinear-texto">   
                 {{'Enrollment' | translateMenu}}
            </div>
        </div>
        </a>            
    </li>

    <li>
        <a ng-click="go('/school/' +  school.id + '/testScores')" ng-href="#/school/{{school.id}}/testScores">
        <div class="row">
            <div class="small-2  columns">
                <img src="img/testscores_menu.png"> 
            </div>  
            <div class="small-10 columns menu-alinear-texto">   
                 {{'Test Scores' | translateMenu}}
            </div>
        </div>
        </a>            
    </li>
    <li>
        <a ng-click="go('/school/' +  school.id + '/evaluations')" ng-href="#/school/{{school.id}}/evaluations">
        <div class="row">
            <div class="small-2  columns">
                <img src="img/evaluations_menu.png">    
            </div>  
            <div class="small-10 columns menu-alinear-texto">   
                 {{'Evaluations' | translateMenu}}
            </div>
        </div>
        </a>            
    </li>
    <li>
        <a ng-click="go('/school/' +  school.id + '/surveyResults')" ng-href="#/school/{{school.id}}/surveyResults">
        <div class="row">
            <div class="small-2  columns">
                <img src="img/surveyresults_menu.png">  
            </div>  
            <div class="small-10 columns menu-alinear-texto">   
                 {{'Survey Results' | translateMenu}}
            </div>
        </div>
        </a>            
    </li>
    <li>
        <a ng-hide="filtroCCmenu" ng-click="go('/school/' +  school.id + '/college')" ng-href="#/school/{{school.id}}/college">
        <div class="row">
            <div class="small-2  columns">
                <img src="img/college_menu.png">    
            </div>  
            <div class="small-10 columns menu-alinear-texto">   
                 {{'College & Career' | translateMenu}}
            </div>
        </div>
        </a>            
    </li>
    <li>
        <a ng-click="go('/school/' +  school.id + '/glossary')" ng-href="#/school/{{school.id}}/glossary">
        <div class="row">
            <div class="small-2  columns">
                <img src="img/glosary_menu.png">    
            </div>  
            <div class="small-10 columns menu-alinear-texto">   
                 {{'Glossary of Terms' | translateMenu}}
            </div>
        </div>
        </a>
    </li>
  </ul>
</aside>